@import 'common';
footer.site-footer{
  background: $darkbrown-color;
  padding: 20px 0;
  div.footer-container{
    display: flex;
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
    color: $gray-color;
    @media screen and (min-width:800px){
      div.footer-site-map{
        border-right: 1.5px solid rgba($gray-color,.5);
      }
    }//container lg
    @media screen and (max-width:800px){
      flex-direction: column;
      div.footer-site-map{
        border-bottom: 1.5px solid rgba($gray-color,.5);
      }
    }//container sm
    div.footer-site-map{
      ul{
        li{
          font-size: 1em;
        }//li
      }//site map ul
    }//site map
    div.footer-link{
      div.footer-contact{
        h4{

        }//h4
        address{
          margin-bottom: 10px;
          i{
            display: block;
            margin-bottom: 10px;
            font-size: 0.85em;
            opacity: .5;
          }
        }
        button{
          position: relative;
          padding: 10px 30px;
          margin: 20px 0 40px 0;
          border: 1px solid rgba($gray-color,0.5);
          overflow: hidden;
          opacity: .7;
          transition: opacity 0.3s;
           &::before{
            content: 'more info';
            padding: 10px 30px;
            box-sizing: border-box;
            background-color: $brown-color;// rgba($dark-mint-color,.5)
            position: absolute;
            width: 100%;
            height: 100%;
            left: 0;
            top:100%;
            font-weight: 400;
            transition: top 0.3s;
          }
          &:hover{
            opacity: 1;
            &::before{
              top: 0;
            }
          } 
        }
      }//contact
      ul.footer-sns{
        display: flex;
        width: 100%;
        justify-content: center;
        li{
          margin: 0 15px;
        }
      }
    }//link
    >div{
      flex:1;
      padding: 30px;
      text-align: center;
      h4{
        font-family: 'ele';
        letter-spacing: 3px;
        font-size: 1.7em;
        font-weight: bold;
        margin-bottom: 20px;
      }//h4
      li{
        font-weight: 400;
        margin-bottom: 14px;
        opacity: .5;
        &:hover{
          text-decoration: underline;
          color: $dark-mint-color;
          opacity: 1;
        }
      }
    }//site map, link
  }//footer container
  p{
    text-align: center;
    padding: 20px 0;
    font-size: 0.8em;
    color: rgba($gray-color,0.5);
  }
}//footer