.haHomesection {
  padding-top: 30px;
}
.haHomesection .haSection1 .haHome1 {
  min-height: 800px;
  border: 1px solid red;
  position: relative;
}
.haHomesection .haSection1 .haHome1 figure {
  position: absolute;
  right: -5%;
  top: 0;
  width: 70%;
  max-width: 1200px;
}
.haHomesection .haSection1 .haHome1 figure .home1img {
  width: 100%;
}
.haHomesection .haSection1 .haHome1 h3 {
  position: absolute;
  font-family: "ele";
  font-size: 340px;
  top: 0;
  left: -10px;
}
.haHomesection .haSection1 .haHome1 p.home1box {
  border: 1px solid saddlebrown;
}