@charset "UTF-8";
/* 
짙은갈색 #211E18
갈색 #403A2F
진한민트#798C7A
옅은민트#A8BFAA
회색#F2F2F2
 */
.ha-Homesection-1 {
  position: relative;
  background: #FFF;
  /* slider */
}
@media screen and (min-width: 800px) {
  .ha-Homesection-1 {
    padding: 100px 0;
  }
}
@media screen and (max-width: 800px) {
  .ha-Homesection-1 {
    padding: 50px 0;
  }
}
.ha-Homesection-1 .bg-slider {
  position: absolute;
  right: -10%;
  top: 50%;
  transform: translateY(-50%);
  width: 70%;
  -webkit-mask-image: url(../img/home/home1-1-mask.png);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}
.ha-Homesection-1 .bg-slider img {
  width: 100%;
}
.ha-Homesection-1 .title {
  position: relative;
  z-index: 1;
  font-family: "ele";
  font-size: 22vw;
  color: #dee1e7;
  mix-blend-mode: exclusion;
}
@media screen and (min-width: 1100px) {
  .ha-Homesection-1 .title {
    font-size: 270px;
  }
}
@media screen and (max-width: 1100px) {
  .ha-Homesection-1 .title {
    font-size: 22vw;
  }
}
.ha-Homesection-1 .center {
  width: 90%;
  max-width: 900px;
  margin: 0 auto;
}
.ha-Homesection-1 .center .textbox {
  box-sizing: border-box;
  border-radius: 50px 0 50px 0;
  background: #403A2F;
}
@media screen and (min-width: 1100px) {
  .ha-Homesection-1 .center .textbox {
    width: 60%;
    padding: 50px;
    transform: translateY(-50%);
  }
}
@media screen and (max-width: 1100px) {
  .ha-Homesection-1 .center .textbox {
    margin: 0 auto;
    width: 80%;
    padding: 30px;
    transform: translateY(-30%);
  }
}
.ha-Homesection-1 .center .textbox h3 {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-size: 1.5em;
  color: #FFF;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.ha-Homesection-1 .center .textbox h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 10px;
  width: 100%;
  height: 20px;
  background: #A8BFAA;
  transform: skew(-30deg);
}
.ha-Homesection-1 .center .textbox h3 small, .ha-Homesection-1 .center .textbox h3 strong {
  position: relative;
  display: block;
}
.ha-Homesection-1 .center .textbox h3 small {
  font-size: 0.5em;
}
.ha-Homesection-1 .center .textbox h3 strong {
  font-weight: bold;
}
.ha-Homesection-1 .center .textbox p {
  color: rgba(255, 255, 255, 0.7);
}
@media screen and (min-width: 1100px) {
  .ha-Homesection-1 .center .summary {
    width: 40%;
    transform: translateX(-50px);
  }
}
@media screen and (max-width: 1100px) {
  .ha-Homesection-1 .center .summary {
    width: 70%;
  }
}
.ha-Homesection-1 .center .summary h4 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 10px;
  color: #403A2F;
  border-bottom: 1px dotted #403A2F;
}
.ha-Homesection-1 .center .summary p {
  color: rgba(64, 58, 47, 0.7);
}