@charset "UTF-8";
main {
  position: fixed;
  perspective: 1000px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #000;
}

section.section-container {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transform-origin: right bottom;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

section.section-container > section {
  background: #fff;
  /* 지울것 */
}

section.section-container.section-container1 {
  z-index: 5;
}

section.section-container.section-container2 {
  z-index: 4;
}

section.section-container.section-container3 {
  z-index: 3;
}

section.section-container.section-container4 {
  z-index: 2;
}

section.section-container.section-container5 {
  z-index: 1;
}

@keyframes active1 {
  0% {
    right: -20%;
    transform-origin: right bottom;
    transform: scale(0.65) rotate(-24deg);
  }
  25% {
    right: -20%;
    transform-origin: right bottom;
    transform: scale(0.65) rotate(0deg);
  }
  50% {
    right: 17.5%;
    transform-origin: right bottom;
    transform: scale(0.65) rotate(0deg);
  }
  75% {
    right: 0;
    transform-origin: center bottom;
    transform: scale(0.8) rotateX(20deg);
  }
  100% {
    right: 0;
    transform-origin: center bottom;
    transform: scale(1) rotateX(0deg);
  }
}

@keyframes active2 {
  0% {
    right: -20%;
    transform-origin: right bottom;
    transform: scale(0.65) rotate(-18deg);
  }
  25% {
    right: -20%;
    transform-origin: right bottom;
    transform: scale(0.65) rotate(0deg);
  }
  50% {
    right: 17.5%;
    transform-origin: right bottom;
    transform: scale(0.65) rotate(0deg);
  }
  75% {
    right: 0;
    transform-origin: center bottom;
    transform: scale(0.8) rotateX(20deg);
  }
  100% {
    right: 0;
    transform-origin: center bottom;
    transform: scale(1) rotateX(0deg);
  }
}

@keyframes active3 {
  0% {
    right: -20%;
    transform-origin: right bottom;
    transform: scale(0.65) rotate(-12deg);
  }
  25% {
    right: -20%;
    transform-origin: right bottom;
    transform: scale(0.65) rotate(0deg);
  }
  50% {
    right: 17.5%;
    transform-origin: right bottom;
    transform: scale(0.65) rotate(0deg);
  }
  75% {
    right: 0;
    transform-origin: center bottom;
    transform: scale(0.8) rotateX(20deg);
  }
  100% {
    right: 0;
    transform-origin: center bottom;
    transform: scale(1) rotateX(0deg);
  }
}

@keyframes active4 {
  0% {
    right: -20%;
    transform-origin: right bottom;
    transform: scale(0.65) rotate(-6deg);
  }
  25% {
    right: -20%;
    transform-origin: right bottom;
    transform: scale(0.65) rotate(0deg);
  }
  50% {
    right: 17.5%;
    transform-origin: right bottom;
    transform: scale(0.65) rotate(0deg);
  }
  75% {
    right: 0;
    transform-origin: center bottom;
    transform: scale(0.8) rotateX(20deg);
  }
  100% {
    right: 0;
    transform-origin: center bottom;
    transform: scale(1) rotateX(0deg);
  }
}

@keyframes active5 {
  0% {
    right: -20%;
    transform-origin: right bottom;
    transform: scale(0.65) rotate(0deg);
  }
  25% {
    right: -20%;
    transform-origin: right bottom;
    transform: scale(0.65) rotate(0deg);
  }
  50% {
    right: 17.5%;
    transform-origin: right bottom;
    transform: scale(0.65) rotate(0deg);
  }
  75% {
    right: 0;
    transform-origin: center bottom;
    transform: scale(0.8) rotateX(20deg);
  }
  100% {
    right: 0;
    transform-origin: center bottom;
    transform: scale(1) rotateX(0deg);
  }
}

@keyframes de-active1 {
  0% {
    right: -20%;
    transform: scale(0.65) rotate(-24deg);
  }
  25% {
    right: -20%;
    transform: scale(0.65) rotate(0deg);
  }
  50% {
    right: -100%;
    transform: scale(0.65) rotate(0deg);
  }
  100% {
    right: -100%;
    transform: scale(0.65) rotate(0deg);
  }
}

@keyframes de-active2 {
  0% {
    right: -20%;
    transform: scale(0.65) rotate(-18deg);
  }
  25% {
    right: -20%;
    transform: scale(0.65) rotate(0deg);
  }
  50% {
    right: -100%;
    transform: scale(0.65) rotate(0deg);
  }
  100% {
    right: -100%;
    transform: scale(0.65) rotate(0deg);
  }
}

@keyframes de-active3 {
  0% {
    right: -20%;
    transform: scale(0.65) rotate(-12deg);
  }
  25% {
    right: -20%;
    transform: scale(0.65) rotate(0deg);
  }
  50% {
    right: -100%;
    transform: scale(0.65) rotate(0deg);
  }
  100% {
    right: -100%;
    transform: scale(0.65) rotate(0deg);
  }
}

@keyframes de-active4 {
  0% {
    right: -20%;
    transform: scale(0.65) rotate(-6deg);
  }
  25% {
    right: -20%;
    transform: scale(0.65) rotate(0deg);
  }
  50% {
    right: -100%;
    transform: scale(0.65) rotate(0deg);
  }
  100% {
    right: -100%;
    transform: scale(0.65) rotate(0deg);
  }
}

@keyframes de-active5 {
  0% {
    right: -20%;
    transform: scale(0.65) rotate(0deg);
  }
  25% {
    right: -20%;
    transform: scale(0.65) rotate(0deg);
  }
  50% {
    right: -100%;
    transform: scale(0.65) rotate(0deg);
  }
  100% {
    right: -100%;
    transform: scale(0.65) rotate(0deg);
  }
}

/* -------------------------------------------- */
button.btn-menu {
  position: fixed;
  z-index: 100;
  right: 20px;
  top: 20px;
  padding: 10px 30px;
  border-radius: 30px;
  background: #fff;
  border: 1px solid #ccc;
}

a.btn-page {
  position: absolute;
  left: 0;
  top: 0;
  transform: translateY(-98%);
  padding: 10px 20px;
  background: #fff;
}

a.btn-page::after {
  content: "";
  position: absolute;
  top: 0;
  left: 99%;
  height: 100%;
  width: 40px;
  background-image: url(../img/icons/triangle.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left top;
}

/* -------------------------------------------- */
.section-video-intro {
  position: relative;
  overflow: hidden;
  height: 100%;
  background: #fff;
}

.section-video-intro video {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  object-fit: cover;
  object-position: center center;
}

.section-video-intro .video-mask-img {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.section-video-intro h6 {
  font-family: "ele";
  mix-blend-mode: difference;
  color: #fff;
}

@media screen and (min-width: 1200px) {
  .section-video-intro h6 {
    font-size: 55px;
  }
}

@media screen and (max-width: 1200px) {
  .section-video-intro h6 {
    font-size: 4.5vw;
  }
}

.gnb .gnbNA {
  font-size: 2em;
  font-weight: bold;
}
