main {
  position: fixed;
  perspective: 1000px;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: #000;
}
section.section-container {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: #fff;
  transform-origin: right bottom;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  section {
    background: #fff; /* 지울것 */
  }
  @for $i from 1 through 5{
    &.section-container#{$i}{
      z-index:#{6 - $i} ;
    } 
  } 
  @for $i from 1 through 5 {
    @keyframes active#{$i} {
      0% {
        right: -20%;
        transform-origin: right bottom;
        transform: scale(0.65) rotate(#{(5-$i) * -6}deg);
      }
      25% {
        right: -20%;
        transform-origin: right bottom;
        transform: scale(0.65) rotate(0deg);
      }
      50% {
        right: 17.5%;
        transform-origin: right bottom;
        transform: scale(0.65) rotate(0deg);
      }
      75% {
        right: 0;
        transform-origin: center bottom;
        transform: scale(0.8) rotateX(20deg);
      }
      100% {
        right: 0;
        transform-origin: center bottom;
        transform: scale(1) rotateX(0deg);
      }
    }
  }

  @for $i from 1 through 5 {
    @keyframes de-active#{$i} {
      0% {
        right: -20%;
        transform: scale(0.65) rotate(#{(5-$i) * -6}deg);
      }
      25% {
        right: -20%;
        transform: scale(0.65) rotate(0deg);
      }
      50% {
        right: -100%;
        transform: scale(0.65) rotate(0deg);
      }
      100% {
        right: -100%;
        transform: scale(0.65) rotate(0deg);
      }
    }
  }
} //section
/* -------------------------------------------- */
button.btn-menu{
  position: fixed;
  z-index: 100;
  right: 20px;
  top:20px;
  padding: 10px 30px;
  border-radius: 30px;
  background: #FFF;
  border:1px solid #CCC;
}
a.btn-page{
  position: absolute;
  left:0;
  top:0;
  transform: translateY(-98%);
  padding: 10px 20px;
  background: #FFF;
  &::after{
    content: "";
    position: absolute;
    top:0;
    left: 99%;
    height: 100%;
    width: 40px;
    background-image:url(../img/icons/triangle.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left top;
  }
}
/* -------------------------------------------- */
.section-video-intro{
  position: relative;
  overflow: hidden;
  height: 100%;
  background: #FFF;
}
.youtube-size-img{
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
}
.section-video-intro .video-content{
  position: absolute;
  left:50%;
  top:50%;
  transform:translate(-50%,-50%) scale(1.2);
}
.section-video-intro .video-smoke{
  mix-blend-mode: screen;
}
.white-cover{
  position: absolute;
  top:0;left:0;
  width: 100%;
  height: 100%;
}

.gnb .gnbNA{
  font-size: 2em;
  font-weight: bold;
}