@import "./common";

.ha-Homesection-3 {
  position: relative;
  height: 100%;
  background: #fff;
  box-sizing: border-box;
  @media screen and (min-width: 1200px) {
    padding-bottom: 85%;
  }

  figure.section3-bg {
    position: absolute;
    left: -25%;
    transform: rotate(-5deg);
    width: 90%;
    overflow: hidden;
    -webkit-mask-image: url(../img/home/home3mask.png);
    -webkit-mask-size: 95%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    img.lg {
      width: 100%;
      @media screen and (max-width: 600px) {
        display: none;
      }
    }
  }

  figure.smbg {
    display: none;
    @media screen and (max-width: 600px) {
      display: block;
    }
    img.sm {
      position: absolute;
      width: 100%;
      top: 10%;
      -webkit-mask-image: url(../img/home/home3mask.png);
      -webkit-mask-size: contain;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center;
      transform: translateY(-10%);
/*       @media screen and (max-width: 600px) {
        opacity: 0.9;
      } */
    }
  }
  b.title {
    position: absolute;
    z-index: 1;
    top: 10%;
    @include mainFont;
    color: #dee1e7;
    mix-blend-mode: exclusion;
    @media screen and (min-width: 1500px) {
      font-size: 170px;
      left: 40%;
    } //lg
    @media screen and (max-width: 1500px) and (min-width: 600px) {
      font-size: 9vw;
      left: 40%;
    } //sm
    @media screen and (max-width: 600px){
      font-size: 80px;
      left: 30%;
    }
  }
  .home3center {
    position: absolute;
    width: 100%;
    height: 20%;
    top: 20%;
    left: 20%;
    box-sizing: border-box;
    figcaption {
      @media screen and (min-width: 1200px) {
        transform: translate(20%, 0);
      }
      @media screen and (min-width: 800px) and (max-width: 1200px) {
        transform: translate(15%, -200%);
      }
      @media screen and (max-width: 800px) {
        transform: translate(15%, -200%);
      }
    }
    .gallery1 {
      position: absolute;
      left: 25%;
      @media screen and (min-width: 1200px) {
        width: 90%;
        top: -10%;
      }
      @media screen and (min-width: 800px) and (max-width: 1200px) {
        width: 70%;
        top: -8%;
      }
      @media screen and (max-width: 800px) {
        width: 60%;
        top: -5%;
      }
      figure {
        width: 25%;
        min-width: 180px;
        overflow: hidden;
        img {
          object-fit: cover;
          object-position: center -50px;
          width: 100%;
        }
      }
    }
    .gallery2 {
      position: absolute;
      left: 40%;
      @media screen and (min-width: 1200px) {
        width: 90%;
        top: 100%;
      }
      @media screen and (min-width: 800px) and (max-width: 1200px) {
        width: 70%;
        top: 80%;
      }
      @media screen and (max-width: 800px) {
        width: 60%;
        top: 60%;
      }
      figure {
        width: 25%;
        min-width: 180px;
        overflow: hidden;
        img {
          object-fit: cover;
          object-position: center -50px;
          width: 100%;
        }
      }
    }
    div.svg {
      @media screen and (min-width: 1200px) {
        width: 25%;
        transform: translate(20%, -90%);
      }
      @media screen and (min-width: 900px) and (max-width: 1200px) {
        width: 23%;
        transform: translate(40%, -130%);
      }
      @media screen and (min-width: 800px) and (max-width: 900px) {
        width: 20%;
        transform: translate(60%, -170%);
      }
      @media screen and (max-width: 900px) {
        display: none;
      }
      svg {
        width: 100%;
        fill: none;
        stroke: $darkbrown-color;
        stroke-width: 2px;
      }
    }

    .summary {
      position: absolute;
      @media screen and (min-width: 1000px) {
        width: 50%;
        bottom: -150%;
        transform: translateX(10%);
      } //lg
      @media screen and (min-width: 600px) and (max-width: 1000px) {
        width: 50%;
        bottom: -80%;
        transform: translateX(10%);
      } //sm
      @media screen and (max-width: 600px) {
        position: absolute;
        width: 30%;
        bottom: 0;
        left: -15%;
        color: $darkbrown-color;
      }
      h4 {
        display: flex;
        justify-content: end;
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 10px;
        padding-bottom: 10px;
        color: $brown-color;
        border-bottom: 1px dotted $brown-color;
        @media screen and (max-width: 600px) {
          width: 55%;
          color: $darkbrown-color;
          border-bottom: 1px dotted $darkbrown-color;
        }
      }
    }
  }
}

/*
class=lgp, lg, smg, sm display none 하고
마스크씌워서 아래에 동그랗게 두개나 네모 두개 갤러리 1번 2번만들기
*/