@import "./common";
.section-photo1 {
  .yj-section-photo1 {
    padding: 100px 0;
    position: relative;

    ul.main-content {
      box-sizing: border-box;
      max-width: 1400px;
      margin: 0 auto;
      li.content-container {
        position: relative;
        box-sizing: border-box;
        @media screen and (min-width: 800px) {
          float: left;
          &::before {
            /* 정사각형 */
            content: "";
            display: block;
            padding-top: 100%;
          }
          figure.original {
            position: absolute;
            top: 0;
            width: 100%;
            height: 100%;
            > div {
              width: 100%;
              height: 100%;
              img.img-org {
                width: 100%;
                height: 100%;
                object-fit: cover;
              } //img
              img.img-zoom-sm{display: none;}
            } //div
            figcaption {
              pointer-events: none;
              position: absolute;
              width: 100%;
              height: 100%;
              padding: 10px;
              box-sizing: border-box;
              div {
                position: absolute;
                padding: 10px;
                box-sizing: border-box;
                transition: all 0.3s;
              }
            } //figcaption
          } //figure.original
          figure.zoom-lg {
            display: none;
            position: absolute;
            width: 100%;
            height: 100%;
            overflow: hidden;
            img {
              position: absolute;
              width: 200%;
              height: 200%;
              object-fit: cover;
            }
          } //.zoom-lg
          &.active {
            figcaption {
              left: 0 !important;
              div {
                transform: translate(0, 0) rotate(0) !important ;
                left: 5%;
                bottom: 5%;
                width: 90%;
                height: auto !important;
                writing-mode: horizontal-tb !important;
                background: rgba(#fff, 0.5);
              }
            }
            figure.zoom-lg {
              display: block !important;
            }
          } //li.active
        } //li 800px over
        @media screen and (min-width: 1400px) {
          width: 33.333%;
          &:nth-child(3n + 1) {
            margin-left: 0%;
            figcaption {
              top:0;
              left: 100%;
              div {
                height: 80%;
                transform-origin: left bottom;
                writing-mode: vertical-rl;
                h3 {
                  margin-left: 10px;
                }
              }
            }
            figure.zoom-lg {
              left: 100%;
              top: 0;
            }
          } //li nth
          &:nth-child(3n + 2) {
            margin-left: 33.333%;
            figcaption {
              position: absolute;
              top: 100%;
              display: flex;
            
              div {
                right: 10px;
                writing-mode: vertical-rl;
                height: 80%;
                transform: rotate(180deg);
                h3 {
                  margin-left: 10px;
                }
              }
            }
            figure.zoom-lg {
              left: 0%;
              top: 100%;
            }
          } //li nth
          &:nth-child(3n + 3) {
            clear: both;
            margin-left: 33.333%;
            margin-right: 33.333%;
            figcaption {
              top:0;
              right: 100%;
              display: flex;
              div {
                width: 80%;
                right: 10px;
                top: 50%;
                h3 {
                  margin-bottom: 10px;
                }
              }
            }
          } //li nth
          figure.zoom-lg {
            right: 100%;
            top: 0;
          }
        } //li lg
        @media screen and (min-width: 800px) and (max-width: 1400px) {
          width: 50%;
          &:nth-child(odd) {
            margin-left: 0%;
            figcaption {
              top:0;
              left: 100%;
              div {
                writing-mode: vertical-rl;
                height: 80%;
                h3 {
                  margin-left: 20px;
                }
              }
            }
            figure.zoom-lg {
              left: 100%;
              top: 0;
            }
          } //li odd
          &:nth-child(even) {
            margin-left: 50%;
            figcaption {
              top:0;
              right: 100%;
              display: flex;
              div {
                writing-mode: vertical-rl;
                transform: rotate(-180deg);
                height: 80%;
                right: 0;
                h3 {
                  margin-right: 20px;
                }
              }
            }
            figure.zoom-lg {
              right: 100%;
              top: 0;
            }
          } //li even
        } //li md
        @media screen and (max-width: 800px) {
          width: 100%;
          max-width: 600px;
          margin: 0 auto;
          figure.original {
            div{
              position: relative;
              overflow: hidden;
              img {
                width: 100%;
              }
              img.img-zoom-sm{
                display: none;
                position: absolute;
                width: 200%;
                top:0;
              }
            }
            figcaption {
              padding: 10px;
              border: 1px solid #ccc;
              background: #eee;
              h3 {
                padding: 5px;
                background: #000;
                color: #fff; 
              }
              p {
                padding: 5px;
                background: #fff;
              }
            } //figure
          } //figure
          figure.zoom-lg {
            display: none;
          }
          &.active{
            .img-zoom-sm{
              display: block !important;
            }
          }
        } //li sm
        figure.original {
          figcaption {
            h3 {
              font-family: "ele";
              font-weight: 600;
            }
          }
        } //figure.original
      } //li.content-container
    } //main-content
  } //yj-section-photo1-2
} //section-photo1
