@charset "UTF-8";
/* 
짙은갈색 #211E18
갈색 #403A2F
진한민트#798C7A
옅은민트#A8BFAA
회색#F2F2F2
 */
.section-photo1 .section-video-intro h6 {
  position: absolute;
  right: 10%;
  bottom: 10%;
  text-align: right;
}
.section-photo1 .yj-section-photo1 {
  padding: 100px 0;
  position: relative;
}
.section-photo1 .yj-section-photo1 ul.main-content {
  box-sizing: border-box;
  max-width: 1400px;
  margin: 0 auto;
}
.section-photo1 .yj-section-photo1 ul.main-content li.content-container {
  position: relative;
  box-sizing: border-box;
}
.section-photo1 .yj-section-photo1 ul.main-content li.content-container img.img-zoom-sm {
  display: none;
  position: absolute;
  width: 200%;
}
.section-photo1 .yj-section-photo1 ul.main-content li.content-container.active img.img-zoom-sm {
  display: block;
}
@media screen and (min-width: 800px) {
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container {
    float: left;
  }
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container::before {
    /* 정사각형 */
    content: "";
    display: block;
    padding-top: 100%;
  }
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container figure.original {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
  }
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container figure.original > div {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container figure.original > div img.img-org {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container figure.original > div img.img-zoom-sm {
    width: 200%;
    height: 200%;
    object-fit: cover;
  }
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container figure.original figcaption {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    box-sizing: border-box;
  }
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container figure.original figcaption div {
    position: absolute;
    padding: 10px;
    box-sizing: border-box;
    transition: all 0.3s;
  }
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container figure.zoom-lg {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container figure.zoom-lg img {
    position: absolute;
    width: 200%;
    height: 200%;
    object-fit: cover;
  }
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container.active figcaption {
    left: 0 !important;
    right: auto !important;
    top: 0 !important;
    bottom: auto !important;
  }
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container.active figcaption div {
    transform: translate(0, 0) rotate(0) !important;
    left: 5% !important;
    right: auto !important;
    bottom: 5%;
    top: auto !important;
    width: 90% !important;
    height: auto !important;
    writing-mode: horizontal-tb !important;
    background: rgba(255, 255, 255, 0.5);
  }
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container.active figure.zoom-lg {
    display: block !important;
  }
}
@media screen and (min-width: 1400px) {
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container {
    width: 33.333%;
  }
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container:nth-child(3n+1) {
    margin-left: 0%;
  }
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container:nth-child(3n+1) figcaption {
    top: 0;
    left: 100%;
  }
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container:nth-child(3n+1) figcaption div {
    height: 80%;
    transform-origin: left bottom;
    writing-mode: vertical-rl;
  }
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container:nth-child(3n+1) figcaption div h3 {
    margin-left: 10px;
  }
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container:nth-child(3n+1) figure.zoom-lg {
    left: 100%;
    top: 0;
  }
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container:nth-child(3n+2) {
    margin-left: 33.333%;
  }
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container:nth-child(3n+2) figcaption {
    position: absolute;
    top: 100%;
    display: flex;
  }
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container:nth-child(3n+2) figcaption div {
    right: 10px;
    writing-mode: vertical-rl;
    height: 80%;
    transform: rotate(180deg);
  }
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container:nth-child(3n+2) figcaption div h3 {
    margin-left: 10px;
  }
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container:nth-child(3n+2) figure.zoom-lg {
    left: 0%;
    top: 100%;
  }
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container:nth-child(3n+3) {
    clear: both;
    margin-left: 33.333%;
    margin-right: 33.333%;
  }
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container:nth-child(3n+3) figcaption {
    top: 0;
    right: 100%;
    display: flex;
  }
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container:nth-child(3n+3) figcaption div {
    width: 80%;
    right: 10px;
    top: 50%;
  }
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container:nth-child(3n+3) figcaption div h3 {
    margin-bottom: 10px;
  }
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container figure.zoom-lg {
    right: 100%;
    top: 0;
  }
}
@media screen and (min-width: 800px) and (max-width: 1400px) {
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container {
    width: 50%;
  }
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container:nth-child(odd) {
    margin-left: 0%;
  }
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container:nth-child(odd) figcaption {
    top: 0;
    left: 100%;
  }
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container:nth-child(odd) figcaption div {
    writing-mode: vertical-rl;
    height: 80%;
  }
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container:nth-child(odd) figcaption div h3 {
    margin-left: 20px;
  }
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container:nth-child(odd) figure.zoom-lg {
    left: 100%;
    top: 0;
  }
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container:nth-child(even) {
    margin-left: 50%;
  }
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container:nth-child(even) figcaption {
    top: 0;
    right: 100%;
    display: flex;
  }
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container:nth-child(even) figcaption div {
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    height: 80%;
    right: 0;
  }
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container:nth-child(even) figcaption div h3 {
    margin-right: 20px;
  }
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container:nth-child(even) figure.zoom-lg {
    right: 100%;
    top: 0;
  }
}
@media screen and (max-width: 800px) {
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
  }
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container figure.original div {
    position: relative;
    overflow: hidden;
  }
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container figure.original div img {
    width: 100%;
  }
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container figure.original figcaption {
    padding: 10px;
    border: 1px solid #ccc;
    background: #eee;
  }
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container figure.original figcaption h3 {
    padding: 5px;
    background: #000;
    color: #fff;
  }
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container figure.original figcaption p {
    padding: 5px;
    background: #fff;
  }
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container figure.zoom-lg {
    display: none;
  }
  .section-photo1 .yj-section-photo1 ul.main-content li.content-container.active .img-zoom-sm {
    display: block !important;
  }
}
.section-photo1 .yj-section-photo1 ul.main-content li.content-container figure.original figcaption h3 {
  font-family: "ele";
  font-weight: 600;
}