@charset "UTF-8";
/* 
짙은갈색 #211E18
갈색 #403A2F
진한민트#798C7A
옅은민트#A8BFAA
회색#F2F2F2
 */
.ha-Homesection-3 {
  position: relative;
  height: 100%;
  background: #fff;
  box-sizing: border-box;
}
@media screen and (min-width: 1200px) {
  .ha-Homesection-3 {
    padding-bottom: 85%;
  }
}
.ha-Homesection-3 figure.section3-bg {
  position: absolute;
  left: -25%;
  transform: rotate(-5deg);
  width: 90%;
  overflow: hidden;
  -webkit-mask-image: url(../img/home/home3mask.png);
  -webkit-mask-size: 95%;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}
.ha-Homesection-3 figure.section3-bg img.lg {
  width: 100%;
}
@media screen and (max-width: 600px) {
  .ha-Homesection-3 figure.section3-bg img.lg {
    display: none;
  }
}
.ha-Homesection-3 figure.smbg {
  display: none;
}
@media screen and (max-width: 600px) {
  .ha-Homesection-3 figure.smbg {
    display: block;
  }
}
.ha-Homesection-3 figure.smbg img.sm {
  position: absolute;
  width: 100%;
  -webkit-mask-image: url(../img/home/home3mask.png);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
  transform: translateY(-10%);
}
@media screen and (max-width: 600px) {
  .ha-Homesection-3 figure.smbg img.sm {
    opacity: 0.5;
  }
}
.ha-Homesection-3 .home3center {
  position: absolute;
  width: 100%;
  height: 20%;
  top: 20%;
  left: 20%;
  box-sizing: border-box;
}
@media screen and (min-width: 1200px) {
  .ha-Homesection-3 .home3center figcaption {
    transform: translate(20%, 0);
  }
}
@media screen and (min-width: 800px) and (max-width: 1200px) {
  .ha-Homesection-3 .home3center figcaption {
    transform: translate(15%, -200%);
  }
}
@media screen and (max-width: 800px) {
  .ha-Homesection-3 .home3center figcaption {
    transform: translate(15%, -200%);
  }
}
.ha-Homesection-3 .home3center .gallery1 {
  position: absolute;
  left: 25%;
}
@media screen and (min-width: 1200px) {
  .ha-Homesection-3 .home3center .gallery1 {
    width: 90%;
    top: -10%;
  }
}
@media screen and (min-width: 800px) and (max-width: 1200px) {
  .ha-Homesection-3 .home3center .gallery1 {
    width: 70%;
    top: -8%;
  }
}
@media screen and (max-width: 800px) {
  .ha-Homesection-3 .home3center .gallery1 {
    width: 60%;
    top: -5%;
  }
}
.ha-Homesection-3 .home3center .gallery1 figure {
  width: 25%;
  min-width: 180px;
  overflow: hidden;
}
.ha-Homesection-3 .home3center .gallery1 figure img {
  object-fit: cover;
  object-position: center -50px;
  width: 100%;
}
.ha-Homesection-3 .home3center .gallery2 {
  position: absolute;
  left: 40%;
}
@media screen and (min-width: 1200px) {
  .ha-Homesection-3 .home3center .gallery2 {
    width: 90%;
    top: 100%;
  }
}
@media screen and (min-width: 800px) and (max-width: 1200px) {
  .ha-Homesection-3 .home3center .gallery2 {
    width: 70%;
    top: 80%;
  }
}
@media screen and (max-width: 800px) {
  .ha-Homesection-3 .home3center .gallery2 {
    width: 60%;
    top: 60%;
  }
}
.ha-Homesection-3 .home3center .gallery2 figure {
  width: 25%;
  min-width: 180px;
  overflow: hidden;
}
.ha-Homesection-3 .home3center .gallery2 figure img {
  object-fit: cover;
  object-position: center -50px;
  width: 100%;
}
@media screen and (min-width: 1200px) {
  .ha-Homesection-3 .home3center div.svg {
    width: 25%;
    transform: translate(20%, -90%);
  }
}
@media screen and (min-width: 900px) and (max-width: 1200px) {
  .ha-Homesection-3 .home3center div.svg {
    width: 23%;
    transform: translate(40%, -130%);
  }
}
@media screen and (min-width: 800px) and (max-width: 900px) {
  .ha-Homesection-3 .home3center div.svg {
    width: 20%;
    transform: translate(60%, -170%);
  }
}
@media screen and (max-width: 900px) {
  .ha-Homesection-3 .home3center div.svg {
    display: none;
  }
}
.ha-Homesection-3 .home3center div.svg svg {
  width: 100%;
  fill: none;
  stroke: #211E18;
  stroke-width: 2px;
}
.ha-Homesection-3 .home3center .summary {
  position: absolute;
}
@media screen and (min-width: 1000px) {
  .ha-Homesection-3 .home3center .summary {
    width: 50%;
    bottom: -150%;
    transform: translateX(10%);
  }
}
@media screen and (min-width: 600px) and (max-width: 1000px) {
  .ha-Homesection-3 .home3center .summary {
    width: 50%;
    bottom: -80%;
    transform: translateX(10%);
  }
}
@media screen and (max-width: 600px) {
  .ha-Homesection-3 .home3center .summary {
    transform: translateX(0);
    color: #211E18;
  }
}
.ha-Homesection-3 .home3center .summary h4 {
  display: flex;
  justify-content: end;
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 10px;
  color: #403A2F;
  border-bottom: 1px dotted #403A2F;
}
@media screen and (max-width: 600px) {
  .ha-Homesection-3 .home3center .summary h4 {
    width: 55%;
    color: #211E18;
    border-bottom: 1px dotted #211E18;
  }
}