@charset "UTF-8";
/* 
짙은갈색 #211E18
갈색 #403A2F
진한민트#798C7A
옅은민트#A8BFAA
회색#F2F2F2
 */
.ha-Homesection-2 {
  padding: 40% 5% 70% 5%;
  box-sizing: border-box;
  position: relative;
  background: white;
}
.ha-Homesection-2 figure.section-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-image: url(../img/home/home2-mountain-bg.jpg);
  background-size: cover;
  background-position: center center;
  -webkit-mask-image: url(../img/home/home2-mountain-bg-mask.svg);
  -webkit-mask-size: auto 100%;
  -webkit-mask-repeat: repeat-x;
  animation: bgmove 100000s infinite linear;
}
.ha-Homesection-2 figure.section-bg img {
  width: 70%;
  transform: translate(20%, 40%);
  -webkit-mask-image: url(../img/home/home2mask.png);
  -webkit-mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-position: center;
}
@keyframes bgmove {
  0% {
    -webkit-mask-position: 0 center;
  }
  100% {
    -webkit-mask-position: -100000% center;
  }
}
.ha-Homesection-2 b.title {
  position: absolute;
  z-index: 1;
  left: 5%;
  top: 10%;
  font-family: "ele";
  font-size: 22vw;
  color: #dee1e7;
  mix-blend-mode: exclusion;
}
@media screen and (min-width: 1500px) {
  .ha-Homesection-2 b.title {
    font-size: 270px;
  }
}
@media screen and (max-width: 1500px) {
  .ha-Homesection-2 b.title {
    font-size: 18vw;
  }
}
.ha-Homesection-2 div.home2center {
  position: absolute;
  width: 100%;
  height: 20%;
  top: 45%;
  left: 20%;
  box-sizing: border-box;
}
.ha-Homesection-2 div.home2center div.svgbox {
  position: absolute;
  width: 50%;
  top: -50%;
  left: -5%;
}
@media screen and (max-width: 800px) {
  .ha-Homesection-2 div.home2center div.svgbox {
    transform: rotate(90deg);
    left: -20%;
    top: 0;
  }
}
.ha-Homesection-2 div.home2center div.svgbox .svg1 {
  width: 50%;
}
.ha-Homesection-2 div.home2center div.svgbox path {
  fill: none;
  stroke: #fff;
  stroke-width: 2px;
  stroke-dasharray: 1px;
  stroke-dashoffset: -1px;
}
.ha-Homesection-2 div.home2center figure.homesm {
  position: absolute;
  width: 50%;
}
.ha-Homesection-2 div.home2center figure.homesm img {
  width: 100%;
  /*         opacity: 0.5; */
}
.ha-Homesection-2 div.home2center figcaption {
  position: relative;
  display: flex;
  height: 100%;
  align-items: flex-end;
}
.ha-Homesection-2 div.home2center figcaption div.textbox {
  height: 100%;
  color: #F2F2F2;
}
@media screen and (min-width: 900px) {
  .ha-Homesection-2 div.home2center figcaption div.textbox {
    width: 45%;
    transform: translate(-10%, 150%);
  }
}
@media screen and (min-width: 600px) and (max-width: 900px) {
  .ha-Homesection-2 div.home2center figcaption div.textbox {
    width: 70%;
    transform: translate(-10%, 140%);
  }
}
@media screen and (max-width: 600px) {
  .ha-Homesection-2 div.home2center figcaption div.textbox {
    width: 80%;
    min-width: 370px;
    transform: translate(-5%, 140%);
  }
}
@media screen and (max-width: 600px) {
  .ha-Homesection-2 div.home2center figcaption div.textbox p {
    font-size: 1.1vw;
  }
}
@media screen and (min-width: 600px) {
  .ha-Homesection-2 div.home2center figcaption div.textbox p.lg {
    display: block;
  }
}
@media screen and (max-width: 600px) {
  .ha-Homesection-2 div.home2center figcaption div.textbox p.lg {
    display: none;
  }
}
@media screen and (min-width: 600px) {
  .ha-Homesection-2 div.home2center figcaption div.textbox p.sm {
    display: none;
  }
}
@media screen and (max-width: 600px) {
  .ha-Homesection-2 div.home2center figcaption div.textbox p.sm {
    display: block;
  }
}
.ha-Homesection-2 div.home2center figcaption div.textbox h3 {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  padding-bottom: 20px;
  font-size: 1.5em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
.ha-Homesection-2 div.home2center figcaption div.textbox h3::before {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 10px;
  width: 100%;
  height: 15px;
  background: #A8BFAA;
  transform: skew(-30deg);
}
@media screen and (max-width: 900px) {
  .ha-Homesection-2 div.home2center figcaption div.textbox h3 {
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 1.4em;
  }
}
.ha-Homesection-2 div.home2center figcaption div.summary {
  width: 45%;
  transform: translate(20%, 70%);
  color: #F2F2F2;
}
@media screen and (max-width: 900px) {
  .ha-Homesection-2 div.home2center figcaption div.summary {
    display: none;
  }
}
.ha-Homesection-2 div.home2center figcaption div.summary h4 {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px dotted #403A2F;
}
@media screen and (max-width: 600px) {
  .ha-Homesection-2 div.home2center figcaption div.summary h4 {
    width: 55%;
    border-bottom: 1px dotted #F2F2F2;
  }
}