.js-section-2{
  position: relative;
  margin: 0 auto;
  text-align: center;

  figure{
    max-width: 1200px;
    position: absolute;
    height: 100%;
   h6{
    z-index: 1;
    font-size: 45px;
  }
  img{
    position: absolute;
    display: block;
    height: 100%;
  }
  .text{
    position: absolute;
    max-width: 40%;
    border: 1px solid green;
  }
  em{
    display: block;
  font-size: 3em;
  }
}
}

.js-imgcontainer1{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  .js-img1{
    .img-1-1{
    .f1{ left: 100px; top: 200px; }
    .f2{ right: 100px; top: 100px;  }
    }
    .text1-1{
      bottom: 100px;
      right: 100px;
    }
    .img-1-2{
    .f3{ left: 100px;  top: 200px;  }
    .f4{ right: 100px; top: 100px; }
    }
    .text1-2{
      bottom: 100px;
      right: 100px;
    }
    }
  }
 .js-imgcontainer2{
  border: 1px solid blue;
 .js-img2{
  .img-2-1{
    .s1{ left: 150px; top: 100px; }
    .s2{ right: 150px; top: 200px;  }
    }
    .img-2-2{
    .s3{ left: 150px;  top: 20px;  }
    .s4{ right: 100px; top: 200px; }
    }
    .img-2-3{
      .s5{ left: 100px;  top: 50px;  }
         }
 }
 } 

 @media screen and (min-width:1000px){
  img{
    width: 32%;
  }
  // 줄무늬 랜드스케이프
}
@media screen and (min-width:500px) and (max-width:1000px){
  img{
    width: 48%;
  }
  //줄무늬 세로
}
@media screen and (max-width:500px){
 img{
    width: 100%;
  }
}




 













