@charset "UTF-8";
/* 
짙은갈색 #211E18
갈색 #403A2F
진한민트#798C7A
옅은민트#A8BFAA
회색#F2F2F2
 */
.yj-about-section-1 {
  overflow: hidden;
  padding: 100px 0;
}
.yj-about-section-1 .inner-center {
  position: relative;
  margin: 0 auto;
  width: 95%;
  max-width: 1400px;
}
@media screen and (min-width: 800px) {
  .yj-about-section-1 .inner-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.yj-about-section-1 .inner-center .about-me-figure {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  -webkit-mask-image: url(../img/aboutme/visualMask.png);
  -webkit-mask-size: contain;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
}
@media screen and (min-width: 800px) {
  .yj-about-section-1 .inner-center .about-me-figure {
    width: 65%;
  }
}
@media screen and (max-width: 800px) {
  .yj-about-section-1 .inner-center .about-me-figure {
    transform: scale(1.2);
  }
}
@media screen and (max-width: 500px) {
  .yj-about-section-1 .inner-center .about-me-figure {
    transform: scale(1.4);
  }
}
.yj-about-section-1 .inner-center .about-me-figure img {
  width: 100%;
}
.yj-about-section-1 .inner-center .about-me-figure img.man {
  position: absolute;
  top: 0;
}
.yj-about-section-1 .inner-center .textbox {
  text-transform: capitalize;
}
@media screen and (min-width: 800px) {
  .yj-about-section-1 .inner-center .textbox {
    width: 30%;
  }
}
@media screen and (max-width: 800px) {
  .yj-about-section-1 .inner-center .textbox {
    margin: 0 auto;
    margin-top: -100px;
    max-width: 500px;
  }
}
.yj-about-section-1 .inner-center .textbox .photo {
  float: right;
  width: 30%;
  transform: translateY(30px);
}
.yj-about-section-1 .inner-center .textbox h2 {
  clear: both;
  position: relative;
  margin-bottom: 20px;
}
.yj-about-section-1 .inner-center .textbox h2 span {
  font-size: 2.5em;
  font-family: "ele";
  color: #211E18;
  position: relative;
}
.yj-about-section-1 .inner-center .textbox h2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  transform: skew(-45deg);
  background: #A8BFAA;
}
.yj-about-section-1 .inner-center .textbox p {
  position: relative;
  box-sizing: border-box;
  padding: 10px 30px;
  text-align: center;
}
.yj-about-section-1 .inner-center .textbox p::after, .yj-about-section-1 .inner-center .textbox p::before {
  position: absolute;
  font-size: 2em;
  color: #CCC;
}
.yj-about-section-1 .inner-center .textbox p::before {
  content: "\f10d";
  left: 0;
  top: 0;
}
.yj-about-section-1 .inner-center .textbox p::after {
  content: "\f10e";
  right: 0;
  bottom: 0;
}