@import "./common";
.section-contact {
  .section-video-intro {
    h6 {
      position: absolute;
      top: 50%;
      right: 10%;
      transform: translateY(-50%);
      text-align: right;
    } //h6
  } //section-video-intro 
  .section-contact-1 {
    position: relative;
    padding: 100px 0;
    .contact-box{
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      margin: 0 auto;
      width: 90%;
      max-width: 1100px;
      min-height: 600px;
      box-shadow: 0px 0px 19px 5px rgb(0 0 0 / 19%);
      .contact-img{
        width: 40%;
        background-color: #ccc;
        @media screen and (max-width:700px) {
          display: none;
        }
        @media screen and (min-width:1000px) {
          display: flex;
        }
        ul{
          overflow: hidden;
          position: relative;
          li{
            position: absolute;
            display: none;
            left: 50%;
            width: 100%;
            transform: translate(-50%,-50%);
            img{
              display: block;
              width: 100%;
              height: 100%;
            }
            &.img1{display: block;}
          }//li
        }//ul
      }//contact-img
      .contact-textbox{
        background-color: #fff;
        .contact-form{
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 30px 40px;
          h6{
            margin-bottom: 30px;
            font-size: 1.7em;
            font-weight: 600;
          }
          fieldset {
            border: medium none !important;
            width: 100%;
          }
          input,textarea{
            width:100%;
	          border:none;
	          margin-bottom:20px;
	          padding:15px;
            background: rgba(230, 230, 230, 0.6);
            &:hover{
              -webkit-transition:border-color 0.3s ease-in-out;
	            -moz-transition:border-color 0.3s ease-in-out;
	            transition:border-color 0.3s ease-in-out;
	            border:1px solid #AAA;
            }
            &:focus {
              outline:0;
              border:1px solid #999;
            }
          }
          textarea {
            min-height: 150px;
            max-width:100%;
            resize:none;
          }
          button{
            cursor:pointer;
            width:100%;
            border:none;
            color:#fff;
            padding:10px;
            font-size:15px;
            font-weight: 500;
            background: #2ecc71;
            transition: 0.3s;
            &:hover{
              background: #27ae60;
	            transition:background-color 0.3s ease-in-out;
            }
            &.active{
              box-shadow:inset 0 1px 3px rgba(0, 0, 0, 0.5);
            }
            &::after {
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              background: url(../img/photo2/sub1-1.jpg) no-repeat center;
              background-size: cover;
              filter: blur(50px);
              z-index: -1;
            }
          }//button
        }//contact-form
      }//contact-textbox
    }//contact-box
  } //section-contact-1
} //section-contact