@charset "UTF-8";
/* 
짙은갈색 #211E18
갈색 #403A2F
진한민트#798C7A
옅은민트#A8BFAA
회색#F2F2F2
 */
section.yj-mainContent-section {
  position: relative;
  width: 100%;
}
@media screen and (min-width: 1000px) {
  section.yj-mainContent-section {
    height: 200%;
    min-height: 2500px;
  }
}
@media screen and (max-width: 1000px) {
  section.yj-mainContent-section {
    min-height: 2200px;
  }
  section.yj-mainContent-section::before {
    content: "";
    position: absolute;
    top: -30px;
    background-color: #fbfbfb;
    width: 100%;
    height: 30px;
  }
}
section.yj-mainContent-section div.main-content-bg {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  text-align: center;
}
section.yj-mainContent-section div.main-content-bg img {
  width: 100%;
  max-width: 1400px;
}
section.yj-mainContent-section div.main-content-bg img.main-content-bgimg {
  height: 100%;
  object-fit: cover;
  object-position: center;
}
section.yj-mainContent-section div.main-content-bg img.main-content-svg {
  position: absolute;
  top: 0;
  z-index: 1;
}
@media screen and (min-width: 1400px) {
  section.yj-mainContent-section div.main-content-bg img.main-content-svg {
    left: 50%;
    height: 100%;
    object-fit: contain;
    object-position: center;
    transform: translate(-50%, 120px);
  }
}
@media screen and (max-width: 1400px) {
  section.yj-mainContent-section div.main-content-bg img.main-content-svg {
    height: 80%;
    object-fit: cover;
    transform: translateY(25%);
  }
}
section.yj-mainContent-section figure.main-content-container {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}
section.yj-mainContent-section figure.main-content-container ul {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section.yj-mainContent-section figure.main-content-container ul li.main-content-section.main-content-1 div::before {
  content: "01";
}
section.yj-mainContent-section figure.main-content-container ul li.main-content-section.main-content-2 div::before {
  content: "02";
}
section.yj-mainContent-section figure.main-content-container ul li.main-content-section.main-content-3 {
  background-image: url(../img/aboutme/1.jpg);
  background-repeat: no-repeat;
  background-position: center;
}
section.yj-mainContent-section figure.main-content-container ul li.main-content-section.main-content-3 div::before {
  content: "03";
}
section.yj-mainContent-section figure.main-content-container ul li.main-content-section ul {
  position: relative;
  width: 100%;
  height: 100%;
}
section.yj-mainContent-section figure.main-content-container ul li.main-content-section ul li::before {
  content: "";
  border: 1px solid #A8BFAA;
  box-sizing: border-box;
  position: absolute;
  opacity: 0.7;
}
section.yj-mainContent-section figure.main-content-container ul li.main-content-section ul li.main-content-img {
  position: absolute;
}
section.yj-mainContent-section figure.main-content-container ul li.main-content-section div {
  position: relative;
}
section.yj-mainContent-section figure.main-content-container ul li.main-content-section div::before {
  font-family: "ele";
  font-weight: 600;
  color: #798C7A;
  opacity: 0.4;
  position: absolute;
}
section.yj-mainContent-section figure.main-content-container ul li.main-content-section div h3 {
  font-family: "ele";
  color: #403A2F;
}
section.yj-mainContent-section figure.main-content-container ul li.main-content-section div p {
  font-family: "NanumSquareLight";
  color: #403A2F;
  /*             box-shadow: 1px 1px 1px 1px rgba(121,140,122,.4); */
}
section.yj-mainContent-section figure.main-content-container ul li.main-content-section div p::before {
  content: "";
  position: absolute;
  background-color: #798C7A;
  opacity: 0.4;
  height: 65.5%;
  width: 2px;
  top: 30%;
  left: -7%;
}
@media screen and (min-width: 1000px) {
  section.yj-mainContent-section figure.main-content-container ul li.main-content-section {
    display: flex;
    justify-content: space-between;
    height: 30%;
  }
  section.yj-mainContent-section figure.main-content-container ul li.main-content-section:nth-child(1) ul {
    background-color: #F2F2F2;
  }
  section.yj-mainContent-section figure.main-content-container ul li.main-content-section:nth-child(2) ul {
    background-color: #A8BFAA;
  }
  section.yj-mainContent-section figure.main-content-container ul li.main-content-section:nth-child(3) ul {
    background-color: #798C7A;
  }
  section.yj-mainContent-section figure.main-content-container ul li.main-content-section ul {
    width: 60%;
    max-width: 600px;
  }
  section.yj-mainContent-section figure.main-content-container ul li.main-content-section div {
    width: 35%;
    min-height: 200px;
  }
  section.yj-mainContent-section figure.main-content-container ul li.main-content-section.main-content-1 {
    height: 23%;
    margin-top: 50px;
  }
  section.yj-mainContent-section figure.main-content-container ul li.main-content-section.main-content-1 ul {
    /*               width: 60%;
                  max-width: 600px; */
  }
  section.yj-mainContent-section figure.main-content-container ul li.main-content-section.main-content-1 ul li.main-content-img img {
    width: 100%;
  }
  section.yj-mainContent-section figure.main-content-container ul li.main-content-section.main-content-1 ul li.main-content-img:nth-child(1) {
    width: 40%;
    top: -50px;
    left: 50px;
  }
  section.yj-mainContent-section figure.main-content-container ul li.main-content-section.main-content-1 ul li.main-content-img:nth-child(1)::before {
    width: 2px;
    height: calc(83.5% - 25px);
    right: -12.5px;
    bottom: 25px;
  }
  section.yj-mainContent-section figure.main-content-container ul li.main-content-section.main-content-1 ul li.main-content-img:nth-child(2) {
    width: 50%;
    left: 315px;
    top: -134.91px;
  }
  section.yj-mainContent-section figure.main-content-container ul li.main-content-section.main-content-1 ul li.main-content-img:nth-child(2)::before {
    width: 86.5%;
    bottom: -12.5px;
    left: 25px;
  }
  section.yj-mainContent-section figure.main-content-container ul li.main-content-section.main-content-1 ul li.main-content-img:nth-child(3) {
    width: 40%;
    top: 275.09px;
    left: 25px;
  }
  section.yj-mainContent-section figure.main-content-container ul li.main-content-section.main-content-1 ul li.main-content-img:nth-child(3)::before {
    top: -12.5px;
    width: 100%;
    height: 2px;
    right: 25px;
  }
  section.yj-mainContent-section figure.main-content-container ul li.main-content-section.main-content-1 ul li.main-content-img:nth-child(4) {
    width: 80%;
    top: 325.09px;
    left: 290px;
  }
  section.yj-mainContent-section figure.main-content-container ul li.main-content-section.main-content-1 ul li.main-content-img:nth-child(4)::before {
    width: 2px;
    height: 35%;
    top: 25px;
    left: -12.5px;
  }
  section.yj-mainContent-section figure.main-content-container ul li.main-content-section.main-content-1 div {
    /*               width: 35%;
                  min-height: 200px;
                  border:1px solid black;   */
  }
  section.yj-mainContent-section figure.main-content-container ul li.main-content-section.main-content-1 div::before {
    font-size: 55pt;
    top: 34%;
    left: -4%;
  }
  section.yj-mainContent-section figure.main-content-container ul li.main-content-section.main-content-1 div h3 {
    position: absolute;
    z-index: 1;
    top: 46%;
    left: 10%;
    transform: translateY(-50%);
    font-size: 30pt;
    letter-spacing: 4px;
  }
  section.yj-mainContent-section figure.main-content-container ul li.main-content-section.main-content-1 div p {
    position: absolute;
    max-width: 400px;
    width: 85%;
    font-size: 12pt;
    top: calc(51% + 25px);
    word-spacing: 2px;
    letter-spacing: 1px;
  }
  section.yj-mainContent-section figure.main-content-container ul li.main-content-section.main-content-1 div p::before {
    display: none;
  }
  section.yj-mainContent-section figure.main-content-container ul li.main-content-section.main-content-2 {
    flex-direction: row-reverse;
  }
  section.yj-mainContent-section figure.main-content-container ul li.main-content-section.main-content-2 ul {
    max-width: 600px;
    width: 60%;
    height: 100%;
    mix-blend-mode: multiply;
  }
  section.yj-mainContent-section figure.main-content-container ul li.main-content-section.main-content-2 div {
    /*               width: 40%;
                  height: 100%; */
    background-color: yellow;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1300px) {
  section.yj-mainContent-section figure.main-content-container ul li.main-content-section.main-content-1 div::before {
    font-size: 55pt;
    top: 14%;
    left: -7%;
  }
  section.yj-mainContent-section figure.main-content-container ul li.main-content-section.main-content-1 div h3 {
    top: 26%;
    left: 10%;
    transform: translateY(-50%);
    font-size: 30pt;
    letter-spacing: 4px;
  }
  section.yj-mainContent-section figure.main-content-container ul li.main-content-section.main-content-1 div p {
    max-width: 400px;
    width: 85%;
    font-size: 12pt;
    top: calc(31% + 25px);
    word-spacing: 2px;
    letter-spacing: 1px;
  }
}
@media screen and (max-width: 1000px) {
  section.yj-mainContent-section figure.main-content-container ul {
    align-items: center;
  }
  section.yj-mainContent-section figure.main-content-container ul li.main-content-section {
    position: relative;
    width: 100%;
    height: 33%;
    border: 1px solid black;
  }
  section.yj-mainContent-section figure.main-content-container ul li.main-content-section ul {
    position: absolute;
    width: 100%;
    height: 100%;
    border: 1px solid red;
  }
  section.yj-mainContent-section figure.main-content-container ul li.main-content-section ul li.main-content-img {
    position: absolute;
    width: 100%;
    height: 75%;
    bottom: 0;
  }
  section.yj-mainContent-section figure.main-content-container ul li.main-content-section ul li.main-content-img::before {
    display: none;
  }
  section.yj-mainContent-section figure.main-content-container ul li.main-content-section ul li.main-content-img:nth-child(4) {
    height: 50%;
    width: 100%;
    bottom: 12.5%;
  }
  section.yj-mainContent-section figure.main-content-container ul li.main-content-section ul li.main-content-img img {
    height: 100%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 1000px) and (max-width: 600px) {
  section.yj-mainContent-section figure.main-content-container ul li.main-content-section ul li.main-content-img {
    height: 85%;
  }
  section.yj-mainContent-section figure.main-content-container ul li.main-content-section ul li.main-content-img:nth-child(4) {
    bottom: 14.5%;
  }
}
@media screen and (max-width: 1000px) {
  section.yj-mainContent-section figure.main-content-container ul li.main-content-section div {
    height: 35%;
  }
  section.yj-mainContent-section figure.main-content-container ul li.main-content-section div::before {
    font-size: 12vw;
  }
  section.yj-mainContent-section figure.main-content-container ul li.main-content-section div h3 {
    font-size: 5vw;
    margin-left: 20%;
    margin-bottom: 1%;
    padding-top: 3.5%;
    letter-spacing: 6px;
  }
  section.yj-mainContent-section figure.main-content-container ul li.main-content-section div p {
    position: relative;
    font-size: 2vw;
    width: 70%;
    margin: 0 auto 0 20%;
  }
}