@import "./common";

.ys-section-1{
  h6{
    transform: translate(8%,450%);
    font-family: 'ele';
    mix-blend-mode: difference;
    color:#FFF;
  }
  @media screen and (min-width:1200px) {
    font-size: 55px;
  }
  @media screen and (max-width:1200px) {
    font-size: 4.5vw;
  }
}
/* -----------------------------section-2------------------------------ */
.ys-section-2{
  margin: 0 auto;
  @media screen and (min-width:800px){
    padding:100px 0;
  }
  @media screen and (max-width:800px){
    padding:50px 0;
  }
  figure{
    position: relative;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    h6{
      position: relative;
      transform: translate(45%,200%);
      font-weight: 600;
      mix-blend-mode: difference;
      color: $gray-color;
      z-index: 1;
      @media screen and (min-width:1100px) {
        font-size: 55px;
      }
      @media screen and (max-width:1100px) {
        font-size: 5vw;
      }
      @media screen and (max-width:800px) {
        text-align: center;
        transform: translate(3%,180%);
      }
    }
    .box1{
      width: 90%;
      padding: 5px;
      margin-left: 9%;
      margin-bottom: 25%;
      border: 1px solid $darkbrown-color;
      .box1-1{
      padding: 23% 0;
      box-sizing: border-box;
      background-color: $darkbrown-color;
      }
    }
    .ys-imgcontainer1{
      li{
        position: absolute;
        overflow: hidden;
        img{
          width: 100%;
        }
      }
      .img1-1{
        width: 65%;
        left: 50%;
        transform: translate(-50%,-165%);
      }
      .img1-2{
        width: 35%;
        left: 17.5%;
        transform: translate(-50%,-110%);
      }
      .img1-3{
        width: 40%;
        right: 4%;
        transform: translateY(-130%);
      }
      .img1-4{
        width: 10%;
        right: 4%;
        transform: translateY(-90%);
      }
    }
    div.decorbar-1{
      position: absolute;
      left: 7%;
      width: 0.7%;
      padding: 17% 0;
      transform: translateY(-80%);
      background-color: $darkbrown-color;
    }
    div.textbox-1{
      width: 60%;
      max-width: 550px;
      padding: 30px;
      margin: 0 15%;
      @media screen and (min-width:1100px) {
        font-size: 26px;
      }
      @media screen and (max-width:1100px) {
        font-size: 2.35vw;
      }
      strong{
        position: relative;
        display: inline-block;
        margin-bottom: 1%;
        padding-bottom: 20px;
        transform: translate(0);
        font-family: 'NanumSquareExtraBold';
        color: $darkbrown-color;
        &::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 19px;
          width: 100%;
          height: 20%;
          z-index: -1;
          opacity: 0.7;
          background: $mint-color;
          transform: skew(-30deg);
        }
        @media screen and (min-width:1100px) {
          font-size: 26px;
        }
        @media screen and (max-width:1100px) {
          font-size: 2.35vw;
        }
      }
      p {
        position: relative;
        font-family: 'NanumSquareLight';
        font-size: 1.3vw;
        line-height: 145%;
        color: $darkbrown-color;
        @media screen and (min-width:1100px) {
          font-size: 15px;
        }
        @media screen and (max-width:1100px) {
          font-size: 1.35vw;
        }
        &::before,
        &::after{
          position: absolute;
          color: rgba(0,0,0,0.08);
          @media screen and (min-width:1100px) {
            font-size: 78px;
          }
          @media screen and (max-width:1100px) {
            font-size: 7vw;
          }
        }
        &::before{
          content: "\275D";
          left: -8%;
        }
        &::after{
          content: "\275E";
          transform: translate(10%,180%);
          @media screen and (max-width:600px) {
            transform: translate(10%,100%);
          }
        }
      }
    }
  }
}
/* -----------------------------section-3------------------------------ */
.ys-section-3{
  margin: 0 auto;
  @media screen and (min-width:800px){
    padding:100px 0;
  }
  @media screen and (max-width:800px){
    padding:50px 0;
  }
  figure{
    position: relative;
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    div.textcontainer-2{
      position: relative;
      div.decorbar-2{
        position: absolute;
        width: 0.4%;
        height: 100%;
        transform: translateX(6500%);
        background-color: $darkbrown-color;
        @media screen and (max-width:600px) {
          transform: translateX(4000%);
        }
      }
      div.textbox-2{
        width: 60%;
        max-width: 680px;
        padding: 3% 0;
        transform: translateX(65%);
        @media screen and (max-width:600px) {
          transform: translateX(50%);
        }
        strong{
          position: relative;
          display: inline-block;
          margin-bottom: 1%;
          padding-bottom: 20px;
          font-family: 'NanumSquareExtraBold';
          color: $darkbrown-color;
          &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 19px;
            width: 100%;
            height: 20%;
            z-index: -1;
            opacity: 0.7;
            background: $mint-color;
            transform: skew(-30deg);
          }
          @media screen and (min-width:1100px) {
            font-size: 26px;
          }
          @media screen and (max-width:1100px) {
            font-size: 2.35vw;
          }
        }
        p {
          position: relative;
          font-family: 'NanumSquareLight';
          font-size: 1.3vw;
          line-height: 145%;
          color: $darkbrown-color;
          @media screen and (min-width:1100px) {
            font-size: 15px;
          }
          @media screen and (max-width:1100px) {
            font-size: 1.35vw;
          }
          &::before,
          &::after{
            position: absolute;
            color: rgba(0,0,0,0.08);
            @media screen and (min-width:1100px) {
              font-size: 78px;
            }
            @media screen and (max-width:1100px) {
              font-size: 7vw;
            }
          }
          &::before{
            content: "\275D";
            left: -8%;
          }
          &::after{
            content: "\275E";
            transform: translate(10%,180%);
            @media screen and (max-width:600px) {
              transform: translate(10%,100%);
            }
          }
        }
      }
    }
    .ys-imgcontainer2{
      position: relative;
      padding: 5% 2%;
      li{
        position: absolute;
        overflow: hidden;
        img{
          width: 100%;
        }
      }
      .img2-1{
        width: 40%;
        top: 100%;
        left: 13%;
      }
      .img2-2{
        width: 45%;
        left: 55%;
        top: 180%;
        transform: translateX(-50%);
      }
      .img2-3{
        width: 35%;
        right: -2%;
      }
      @media screen and (min-width:600px) {
        padding: 5% 7%;
      }
    }
    .decortext{
      writing-mode: tb-rl;
      text-orientation: upright;
      font-size: 8vw;
      font-family: 'NanumSquareExtraBold';
      transform: translate(-40%,-20%);
      color: rgba(0,0,0,0.2);
    }
    .decorbox{
      position: absolute;
      width: 40%;
      padding: 20% 0;
      transform: translate(103%,65%);
      border: 2px solid $darkbrown-color;
    }
  }
}
/* -----------------------------section-4------------------------------ */
.ys-section-4{
  margin: 0 auto;
  @media screen and (min-width:800px){
    padding:100px 0;
  }
  @media screen and (max-width:800px){
    padding:50px 0;
  }
  figure{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    div.textcontainer-3{
      position: relative;
      div.decorbar-3{
        position: absolute;
        width: 0.4%;
        height: 100%;
        background-color: $darkbrown-color;
      }
      div.textbox-3{
        width: 60%;
        max-width: 680px;
        padding: 3% 0;
        transform: translateX(20%);
        @media screen and (max-width:600px) {
          transform: translateX(25%);
        }
        strong{
          position: relative;
          display: inline-block;
          margin-bottom: 1%;
          padding-bottom: 20px;
          font-family: 'NanumSquareExtraBold';
          color: $darkbrown-color;
          &::before {
            content: "";
            position: absolute;
            left: 0;
            bottom: 19px;
            width: 100%;
            height: 20%;
            z-index: -1;
            opacity: 0.7;
            background: $mint-color;
            transform: skew(-30deg);
          }
          @media screen and (min-width:1100px) {
            font-size: 26px;
          }
          @media screen and (max-width:1100px) {
            font-size: 2.35vw;
          }
        }
        p {
          position: relative;
          font-family: 'NanumSquareLight';
          font-size: 1.3vw;
          line-height: 145%;
          color: $darkbrown-color;
          @media screen and (min-width:1100px) {
            font-size: 15px;
          }
          @media screen and (max-width:1100px) {
            font-size: 1.35vw;
          }
          &::before,
          &::after{
            position: absolute;
            color: rgba(0,0,0,0.08);
            @media screen and (min-width:1100px) {
              font-size: 78px;
            }
            @media screen and (max-width:1100px) {
              font-size: 7vw;
            }
          }
          &::before{
            content: "\275D";
            left: -8%;
          }
          &::after{
            content: "\275E";
            transform: translate(10%,180%);
            @media screen and (max-width:600px) {
              transform: translate(10%,100%);
            }
          }
        }
      }
    }
    .decorcontainer{
      position: relative;
      width: 55%;
      @media screen and (min-width:600px) {
        margin: 5% auto 0 auto;
      }
      @media screen and (max-width:600px) {
        transform: rotate(90deg) scale(1.35) translateX(82%);
        left: 63%;
      }
      div{
        position: absolute;
        width: 30%;
        padding: 50% 0;
        transform: skew(-10deg);
        border: 1.5px solid $darkbrown-color;
        @media screen and (max-width:600px) {
          transform: skew(-10deg) translateY(7%);
        }
      }
      .decorbox2{
        left: 50%;
        transform: translateX(-50%) skew(-10deg);
      }
      .decorbox3{
        right: 0;
      }
    }
    .ys-imgcontainer3{
      display: flex;
      position: relative;
      align-items: center;
      padding: 10% 0;
      @media screen and (max-width:600px) {
        flex-wrap: wrap-reverse;
      }
      li{
        div{
          box-sizing: border-box;
          font-family: 'NanumSquareLight';
          line-height: 150%;
          @media screen and (min-width:1100px) {
            font-size: 13px;
          }
          @media screen and (max-width:1100px) {
            font-size: 1.25vw;
          }
          &::before{
            display: block;
            margin-bottom: 5%;
            line-height: 100%;
            font-family: 'Montserrat';
            font-weight: 800;
            color: rgba(0,0,0,0.1);
            @media screen and (min-width:1100px) {
              font-size: 50px;
            }
            @media screen and (max-width:1100px) {
              font-size: 5vw;
            }
          }
        }
        img{
          width: 100%;
        }
      }
      .img3-1{
        width: 25%;
      }
      .img3-2{
        width: 40%;
        padding: 0 8%;
      }
      .img3-3{
        width: 25%;
      }
      @media screen and (min-width:600px) {
        .img3-1{
          transform: translateY(15%);
        }
        .img3-2{
          transform: translateX(-43.5%);
        }
        .img3-3{
          transform: translate(229%,-15%);
        }
      }
      @media screen and (max-width:600px) {
        .img3-1{
          width: 40%;
          margin: auto;
        }
        .img3-2{
          width: 60%;
          margin: 0 auto 15% auto;
        }
        .img3-3{
          width: 40%;
          margin: auto;
        }
      }
      .img3-1-1{
        padding: 0 10% 10% 10%;
        &::before{
          content: '01';
        }
      }
      .img3-3-1{
        padding: 10% 10% 0 10%;
        &::before{
          content: '02';
        }
      }
    }
  }
}