@charset "UTF-8";
/* 
짙은갈색 #211E18
갈색 #403A2F
진한민트#798C7A
옅은민트#A8BFAA
회색#F2F2F2
 */
.section-about .section-video-intro h6 {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
  font-family: "ele";
  mix-blend-mode: difference;
  color: #fff;
}
@media screen and (min-width: 1200px) {
  .section-about .section-video-intro h6 {
    font-size: 55px;
  }
}
@media screen and (max-width: 1200px) {
  .section-about .section-video-intro h6 {
    font-size: 4.5vw;
  }
}
.section-about .yj-about-section-1 {
  overflow: hidden;
  padding: 150px 0;
}
.section-about .yj-about-section-1 .inner-center {
  position: relative;
  margin: 0 auto;
  width: 95%;
  max-width: 1400px;
}
@media screen and (min-width: 800px) {
  .section-about .yj-about-section-1 .inner-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.section-about .yj-about-section-1 .inner-center .deco {
  position: absolute;
  max-width: 1000px;
  filter: sepia(100%);
}
@media screen and (min-width: 800px) {
  .section-about .yj-about-section-1 .inner-center .deco {
    width: 55%;
    transform: translate(-2%, 10%);
  }
}
@media screen and (max-width: 800px) {
  .section-about .yj-about-section-1 .inner-center .deco {
    width: 90%;
    transform: scale(1.2) translate(-5%, 10%);
  }
}
@media screen and (max-width: 500px) {
  .section-about .yj-about-section-1 .inner-center .deco {
    transform: scale(1.4);
  }
}
.section-about .yj-about-section-1 .inner-center .about-me-figure {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  -webkit-mask-image: url(../img/aboutme/visualMask.png);
  -webkit-mask-size: contain;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
}
@media screen and (min-width: 800px) {
  .section-about .yj-about-section-1 .inner-center .about-me-figure {
    width: 65%;
    transform: translateY(-50px);
  }
}
@media screen and (max-width: 800px) {
  .section-about .yj-about-section-1 .inner-center .about-me-figure {
    transform: scale(1.2);
  }
}
@media screen and (max-width: 500px) {
  .section-about .yj-about-section-1 .inner-center .about-me-figure {
    transform: scale(1.4);
  }
}
.section-about .yj-about-section-1 .inner-center .about-me-figure img {
  width: 100%;
}
.section-about .yj-about-section-1 .inner-center .about-me-figure img.man {
  position: absolute;
  top: 0;
}
.section-about .yj-about-section-1 .inner-center .textbox {
  position: relative;
  text-transform: capitalize;
}
@media screen and (min-width: 800px) {
  .section-about .yj-about-section-1 .inner-center .textbox {
    width: 40%;
    transform: translateY(50px);
  }
}
@media screen and (max-width: 800px) {
  .section-about .yj-about-section-1 .inner-center .textbox {
    margin: 0 auto;
    margin-top: -50px;
    max-width: 500px;
  }
}
.section-about .yj-about-section-1 .inner-center .textbox .textbox-bg {
  position: absolute;
  width: 130%;
  -webkit-mask-image: url(../img/aboutme/profileMask.png);
  -webkit-mask-size: 100% 100%;
  -webkit-mask-position: center;
  left: 20%;
  top: 40%;
}
.section-about .yj-about-section-1 .inner-center .textbox .textbox-bg img {
  width: 100%;
}
.section-about .yj-about-section-1 .inner-center .textbox .textbox-bg img.man {
  position: absolute;
  top: 0;
}
.section-about .yj-about-section-1 .inner-center .textbox .photo {
  position: relative;
  float: right;
  width: 30%;
  transform: translateY(30px);
}
.section-about .yj-about-section-1 .inner-center .textbox h2 {
  clear: both;
  position: relative;
  margin-bottom: 20px;
}
.section-about .yj-about-section-1 .inner-center .textbox h2 span {
  color: #000;
  font-size: 2.5em;
  font-family: "ele";
  color: #211E18;
  position: relative;
}
.section-about .yj-about-section-1 .inner-center .textbox h2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  transform: skew(-45deg);
  background: #A8BFAA;
}
.section-about .yj-about-section-1 .inner-center .textbox p {
  position: relative;
  box-sizing: border-box;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.85);
}
.section-about .yj-about-section-1 .inner-center .textbox p::after, .section-about .yj-about-section-1 .inner-center .textbox p::before {
  position: absolute;
  font-size: 1.5em;
  color: #ccc;
}
.section-about .yj-about-section-1 .inner-center .textbox p::before {
  content: "\f10d";
  left: 10px;
  top: 10px;
}
.section-about .yj-about-section-1 .inner-center .textbox p::after {
  content: "\f10e";
  right: 10px;
  bottom: 10px;
}