@charset "UTF-8";
/* 
짙은갈색 #211E18
갈색 #403A2F
진한민트#798C7A
옅은민트#A8BFAA
회색#F2F2F2
 */
section.yj-visual-section div {
  position: relative;
}
section.yj-visual-section div img.visual-background {
  max-width: 1200px;
  width: 100%;
  transform: scale(1.06);
}
section.yj-visual-section div figure {
  position: absolute;
  top: 0;
}
section.yj-visual-section div figure img {
  width: 100%;
}
section.yj-visual-section div figure img.visualImg1 {
  transform: translateX(-5%);
  max-width: 1200px;
  width: 95%;
  -webkit-mask-image: url(../img/aboutme/visualMask.png);
  -webkit-mask-repeat: no-repeat;
  mask-image: url(../img/aboutme/visualMask.png);
  mask-size: 93% 100%;
  mask-repeat: no-repeat;
}
section.yj-visual-section div figure img.visualImg2 {
  position: absolute;
  top: -15%;
  left: -25%;
  transform: translateY(0%);
}
section.yj-visual-section div figcaption {
  position: absolute;
}
section.yj-visual-section div figcaption span {
  font-family: "ele";
  font-size: 22vw;
  color: #F2F2F2;
}
@media screen and (min-width: 1200px) {
  section.yj-visual-section div figcaption {
    top: 200px;
    left: 400px;
  }
  section.yj-visual-section div figcaption span {
    font-size: 70px;
  }
}
@media screen and (max-width: 1200px) {
  section.yj-visual-section div figcaption {
    top: 35%;
    left: 40%;
    transform: translate(-50%, -50%);
  }
  section.yj-visual-section div figcaption span {
    font-size: 7vw;
  }
  section.yj-visual-section div figcaption span.me {
    position: absolute;
    top: 90%;
    left: 90%;
  }
}
@media (orientation: landscape) {
  section.yj-visual-section div {
    height: 70%;
  }
}
@media (orientation: portrait) {
  section.yj-visual-section div {
    height: 40%;
  }
}