@import "./common";
.section-photo1 {
  .section-video-intro {
    h6 { 
      position: absolute;
      bottom: 10%;
      right: 10%;
      text-align: right;
    } //h6 
  } //section-video-intro
  .yj-photo1-section-1 {
    
  } //section-photo1-1
} //section-photo1