@charset "UTF-8";
/* 
짙은갈색 #211E18
갈색 #403A2F
진한민트#798C7A
옅은민트#A8BFAA
회색#F2F2F2
 */
.section-contact .section-video-intro {
  display: none;
}
.section-contact .section-video-intro h6 {
  position: absolute;
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  text-align: right;
}
.section-contact .section-contact-1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  background: none;
}
.section-contact .section-contact-1 .bg-img li {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  filter: blur(50px);
  opacity: 0.8;
  z-index: -1;
}
.section-contact .section-contact-1 .bg-img li img {
  width: 100%;
  height: 100%;
}
.section-contact .section-contact-1 .bg-img li.img1 {
  display: block;
}
.section-contact .section-contact-1 .contact-box {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
  width: 90%;
  height: 50%;
  overflow: hidden;
  max-width: 1100px;
  min-height: 600px;
  box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
  background: #fff;
}
.section-contact .section-contact-1 .contact-box .contact-img {
  width: 60%;
  height: 100%;
}
@media screen and (max-width: 900px) {
  .section-contact .section-contact-1 .contact-box .contact-img {
    display: none;
  }
}
.section-contact .section-contact-1 .contact-box .contact-img ul {
  position: relative;
  width: 100%;
  height: 100%;
}
.section-contact .section-contact-1 .contact-box .contact-img ul li {
  position: absolute;
  display: none;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translateX(-50%);
}
.section-contact .section-contact-1 .contact-box .contact-img ul li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.section-contact .section-contact-1 .contact-box .contact-img ul li.img1 {
  display: block;
}
.section-contact .section-contact-1 .contact-box .contact-textbox {
  background-color: #fff;
}
.section-contact .section-contact-1 .contact-box .contact-textbox .contact-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 40px;
}
.section-contact .section-contact-1 .contact-box .contact-textbox .contact-form h6 {
  position: relative;
  margin-bottom: 30px;
  font-size: 1.7em;
  font-weight: 600;
}
.section-contact .section-contact-1 .contact-box .contact-textbox .contact-form h6:after {
  content: "";
  position: absolute;
  top: 130%;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 3.5px;
  width: 65px;
  border-radius: 2px;
  background-color: #2ecc71;
}
.section-contact .section-contact-1 .contact-box .contact-textbox .contact-form fieldset {
  border: medium none !important;
  width: 100%;
}
.section-contact .section-contact-1 .contact-box .contact-textbox .contact-form input, .section-contact .section-contact-1 .contact-box .contact-textbox .contact-form textarea {
  width: 100%;
  border: none;
  margin-bottom: 20px;
  padding: 15px;
  background: rgba(230, 230, 230, 0.6);
}
.section-contact .section-contact-1 .contact-box .contact-textbox .contact-form input:hover, .section-contact .section-contact-1 .contact-box .contact-textbox .contact-form textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #AAA;
}
.section-contact .section-contact-1 .contact-box .contact-textbox .contact-form input:focus, .section-contact .section-contact-1 .contact-box .contact-textbox .contact-form textarea:focus {
  outline: 0;
  border: 1px solid #999;
}
.section-contact .section-contact-1 .contact-box .contact-textbox .contact-form textarea {
  min-height: 150px;
  max-width: 100%;
  resize: none;
}
.section-contact .section-contact-1 .contact-box .contact-textbox .contact-form button {
  cursor: pointer;
  width: 100%;
  border: none;
  color: #fff;
  padding: 10px;
  font-size: 15px;
  font-weight: 500;
  background: #2ecc71;
  transition: 0.3s;
}
.section-contact .section-contact-1 .contact-box .contact-textbox .contact-form button:hover {
  background: #27ae60;
  transition: background-color 0.3s ease-in-out;
}
.section-contact .section-contact-1 .contact-box .contact-textbox .contact-form button.active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}