 @import "./common";

.ha-Homesection-1 {
  position: relative;
  background: #fff;
  @media screen and (min-width: 800px) {
    padding: 100px 0;
  } //lg
  @media screen and (max-width: 800px) {
    padding: 50px 0;
  } //sm
  .bg-slider {
    position: absolute;
    right: -10%;
    top: 50%;
    transform: translateY(-50%);
    width: 70%;
    overflow: hidden;
    -webkit-mask-image: url(../img/home/home1-1-mask.png);
    -webkit-mask-size: 95%;
    -webkit-mask-repeat: no-repeat;
    -webkit-mask-position: center;
    img {
      width: 100%;
      @media screen and (max-width: 600px) {
        &.lg {
          display: none;
        }
      }
    }
  } /* slider */
  .smbg {
    display: none;
    @media screen and (max-width: 600px) {
      display: block;
    }
    .sm {
      position: absolute;
      width: 100%;
      -webkit-mask-image: url(../img/home/home1-1-mask.png);
      -webkit-mask-size: contain;
      -webkit-mask-repeat: no-repeat;
      -webkit-mask-position: center;
      transform: translateY(-10%);
      @media screen and (max-width: 600px) {
        .sm {
          opacity: 0.5;
        }
      }
    }
  }
  .title {
    position: relative;
    z-index: 1;
    @include mainFont;
    color: #dee1e7;
    mix-blend-mode: exclusion;
    @media screen and (min-width: 1100px) {
      font-size: 270px;
    } //lg
    @media screen and (max-width: 1100px) {
      font-size: 22vw;
    } //sm
  } //b

  .center {
    position: relative;
    width: 90%;
    max-width: 900px;
    margin: 0 auto;
    .textbox {
      opacity: 0;
      box-sizing: border-box;
      border-radius: 50px 0 50px 0;
      background: $brown-color;

      @media screen and (min-width: 1100px) {
        width: 60%;
        padding: 50px;
        transform: translateY(-50%);
      } //lg
      @media screen and (min-width: 600px) and (max-width: 1100px) {
        margin: 0 auto;
        width: 80%;
        padding: 30px;
        transform: translateY(-30%);
      } //sm
      @media screen and (max-width: 600px) {
        transform: translateY(0);
        padding: 10px;
        box-sizing: border-box;
      }
      h3 {
        position: relative;
        display: inline-block;
        margin-bottom: 20px;
        padding-bottom: 20px;
        font-size: 1.5em;
        color: #fff;
        border-bottom: 1px solid rgba(#fff, 0.5);
        &::before {
          content: "";
          position: absolute;
          left: 0;
          bottom: 10px;
          width: 100%;
          height: 20px;
          background: $mint-color;
          transform: skew(-30deg);
        }
        @media screen and (max-width: 600px) {
          transform: translateX(20%);
          margin-bottom: 10px;
        }
        small,
        strong {
          position: relative;
          display: block;
          @media screen and (min-width: 600px) {
            text-align: center;
          }
        }
        small {
          font-size: 0.5em;
          @media screen and (max-width: 600px) {
            display: none;
          }
        }
        strong {
          font-weight: bold;
        }
      }
      p.lg {
        color: rgba(#fff, 0.7);
        @media screen and (max-width: 600px) {
          display: none;
        }
      }
      p.sm {
        display: none;
        @media screen and (max-width: 600px) {
          display: block;
          color: rgba(#fff, 0.7);
        }
      }
    } //textbox
    .summary {
      @media screen and (min-width: 1100px) {
        width: 40%;
        transform: translateX(-50px);
      } //lg
      @media screen and (min-width: 600px) and (max-width: 1100px) {
        width: 70%;
      } //sm
      @media screen and (max-width: 600px) {
        transform: translateY(50%);
        color: $darkbrown-color;
      }
      h4 {
        font-size: 1.2em;
        font-weight: bold;
        margin-bottom: 10px;
        padding-bottom: 10px;
        color: $brown-color;
        border-bottom: 1px dotted $brown-color;
        @media screen and (max-width: 600px) {
          width: 55%;
          color: $darkbrown-color;
          border-bottom: 1px dotted $darkbrown-color;
        }
      }
      div.camerali {
        ul{
          transform: translateX(30px);
        }
        div{
          font-family: 'krexpFont';
        transform: translateX(20px);
        color: $brown-color;
        padding-bottom: 20px;
      }
      }
    } //summary
    div.video {
      transform: translate(80%, -20%);
      @media screen and (max-width: 600px) {
        transform: translate(70%, -40%);
      }
      .videolink1 {
        display: block;
        width: 18%;
        padding: 10px;
        box-sizing: border-box;
        border: 3px solid $darkbrown-color;
        text-align: center;
        @media screen and (max-width: 600px) {
          border: none;
        }
        &:hover i{
          transition: transform 0.5s;
          transform: scale(1.2);
          color: $dark-mint-color;
        }
        i {
          line-height: inherit;
          width: 100%;
          font-size: 5em;
          padding-bottom: 10px;
          color: $darkbrown-color;
          @media screen and (max-width: 600px) {
            font-size: 3em;
          }
        }
        em {
          @media screen and (max-width: 600px) {
            display: none;
          }
        }
      }
    }
/*     div.corvar{
      position: absolute;
      top: 36%;
      left: 50%;
      width: 1px;
      height: 20%;
      background: $darkbrown-color;
    } */
  } //center
} //section