@import "./common";
.section-about {
  .section-video-intro {
    h6 {
      position: absolute;
      top: 10%;
      left: 10%;
    } //h6
  } //section-video-intro 
  .ha-section-about-1{
    
  } //section-about-1
} //section-about
