@font-face {
  font-family: "ROEHOE-CHAN";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/ROEHOE-CHAN.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
section.yj-introduce-section {
  padding: 30px 0;
  overflow: hidden;
}
section.yj-introduce-section div.profile-background {
  background-image: url(../img/aboutme/introduceBackground.png);
  background-position: -400px 0;
  background-repeat: no-repeat;
}
section.yj-introduce-section div.profile-background div.profile-container {
  max-width: 1200px;
  width: 95%;
  margin: 0 auto;
  min-height: 600px;
  display: flex;
  justify-content: space-between;
}
section.yj-introduce-section div.profile-background div.profile-container figure.profile-img-container {
  position: relative;
  margin: 0 auto 50px auto;
  max-width: 600px;
  width: 70%;
  transform: translateX(-20%);
}
section.yj-introduce-section div.profile-background div.profile-container figure.profile-img-container img.profile-img {
  position: absolute;
  width: 100%;
  top: 0;
  width: 120%;
  object-fit: cover;
  object-position: center;
  -webkit-mask-image: url(../img/aboutme/profileMask.png);
  -webkit-mask-size: 85% 85%;
  -webkit-mask-repeat: no-repeat;
  mask-image: url(../img/aboutme/profileMask.png);
  mask-size: 85% 85%;
  mask-repeat: no-repeat;
}
section.yj-introduce-section div.profile-background div.profile-container figcaption {
  position: relative;
  max-width: 450px;
  width: 95%;
}
section.yj-introduce-section div.profile-background div.profile-container figcaption div.profile-text {
  position: absolute;
}
section.yj-introduce-section div.profile-background div.profile-container figcaption div.profile-text h3 {
  font-family: "ele";
  color: #403A2F;
}
section.yj-introduce-section div.profile-background div.profile-container figcaption div.profile-text h4 {
  font-family: "ROEHOE-CHAN";
  font-weight: bold;
  color: #211E18;
}
section.yj-introduce-section div.profile-background div.profile-container figcaption div.profile-text p {
  font-family: "NanumSquareLight";
  color: #403A2F;
}
@media screen and (min-width: 1000px) {
  section.yj-introduce-section div.profile-background div.profile-container div.profile-text h3 {
    font-size: 3em;
  }
  section.yj-introduce-section div.profile-background div.profile-container div.profile-text h4 {
    font-size: 70px;
    letter-spacing: 50px;
  }
  section.yj-introduce-section div.profile-background div.profile-container div.profile-text p {
    font-size: 18px;
  }
}
@media screen and (max-width: 1000px) {
  section.yj-introduce-section div.profile-background div.profile-container {
    padding-bottom: 10%;
    flex-direction: column;
    align-items: center;
  }
  section.yj-introduce-section div.profile-background div.profile-container figure.profile-img-container {
    flex: 1;
    width: 120%;
    padding-bottom: 20%;
  }
  section.yj-introduce-section div.profile-background div.profile-container figure.profile-img-container img.profile-img {
    width: 100%;
  }
  section.yj-introduce-section div.profile-background div.profile-container figcaption {
    flex: 1;
  }
  section.yj-introduce-section div.profile-background div.profile-container figcaption div.profile-text h3 {
    font-size: 5vw;
  }
  section.yj-introduce-section div.profile-background div.profile-container figcaption div.profile-text h4 {
    font-size: 8vw;
    letter-spacing: 30px;
  }
  section.yj-introduce-section div.profile-background div.profile-container figcaption div.profile-text p {
    font-size: 1.7vw;
  }
}
@media screen and (min-width: 450px) and (max-width: 750px) {
  section.yj-introduce-section div.profile-background div.profile-container {
    padding-bottom: 100px;
  }
}
@media screen and (max-width: 450px) {
  section.yj-introduce-section div.profile-background div.profile-container { /* 600 */
    padding-bottom: 0;
  }
}