@font-face{
  font-family: 'ROEHOE-CHAN';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-10@1.0/ROEHOE-CHAN.woff') format('woff');
  font-weight: normal;
  font-style: normal; 
}
section.yj-introduce-section{
  div.profile-background{
    background-image: url(../img/aboutme/introduceBackground.png);
    background-position: -400px 0;
    background-repeat: no-repeat;
    div.profile-container{    
      max-width: 1200px;
      width: 95%;
      margin: 0 auto;
      min-height: 700px;
      display: flex;
      justify-content: space-between;
      figure.profile-img-container{
        position: relative;
        margin: 50px auto;
        max-width: 600px;
        width: 70%;
        transform: translateX(-20%);
        img.profile-img{
          width: 120%;
          object-fit: cover;
          object-position: center;
          position: absolute;
          top: 0;
          -webkit-mask-image:url(../img/aboutme/profileMask.png);
          -webkit-mask-size:100% 100%;
          -webkit-mask-repeat: no-repeat;
          -webkit-mask-position: center;
          mask-image:url(../img/aboutme/profileMask.png);
          mask-size:100% 100%;
          mask-repeat: no-repeat;
          mask-position: center;
        }
      }
      figcaption{
        max-width: 450px;
        width: 95%;
        div.profile-text{
          h3{
            font-family: 'ele';
          }
          h4{
            font-family: 'ROEHOE-CHAN';

            font-weight: bold;
          }
        }
      }
      @media screen and (min-width:1000px){
        div.profile-text{
          margin-top: 300px;
          h3{font-size: 70px;}
          h4{font-size: 3em;}
        }
      }
      @media screen and (max-width:1000px){
        flex-direction: column;
        align-items: center;
        figure.profile-img-container{
          width: 120%;
          padding-bottom:20%;
          img.profile-img{
            width: 100%;
          }
        }
        div.profile-text{
          transform: translateY(-40%);
          h3{font-size: 8vw;}
          h4{font-size: 5vw;}
        }
      }
      @media screen and(max-width:600px){
        justify-content: stretch;
        div.profile-text{
          margin-top: 80%;
        }
      }
    }
  }
}