@charset "UTF-8";
/* 
짙은갈색 #211E18
갈색 #403A2F
진한민트#798C7A
옅은민트#A8BFAA
회색#F2F2F2
 */
.section-home .section-video-intro h6 {
  position: absolute;
  top: 50%;
  left: 0%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%);
}
.section-home .yj-home-section-1 {
  position: relative;
  overflow: hidden;
  padding: 200px 0;
}
.section-home .yj-home-section-1 .inner-center {
  position: relative;
  margin: 0 auto;
  width: 95%;
  max-width: 1400px;
}
@media screen and (min-width: 800px) {
  .section-home .yj-home-section-1 .inner-center {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
.section-home .yj-home-section-1 .inner-center .home-figure-wrap {
  -webkit-box-reflect: below -10px radial-gradient(at bottom right, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.07), rgba(0, 0, 0, 0));
}
@media screen and (min-width: 800px) {
  .section-home .yj-home-section-1 .inner-center .home-figure-wrap {
    width: 65%;
    transform: translateY(-200px);
  }
}
@media screen and (max-width: 800px) {
  .section-home .yj-home-section-1 .inner-center .home-figure-wrap {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    transform: scale(1.2);
  }
}
@media screen and (max-width: 500px) {
  .section-home .yj-home-section-1 .inner-center .home-figure-wrap {
    transform: scale(1.4);
  }
}
.section-home .yj-home-section-1 .inner-center .home-figure-wrap .deco {
  position: absolute;
  left: -20%;
  width: 100%;
  filter: sepia(100%);
}
.section-home .yj-home-section-1 .inner-center .home-figure-wrap figure {
  position: relative;
  -webkit-mask-image: url(../img/home/visualMask.png);
  -webkit-mask-size: 100% 100%;
  -webkit-mask-position: center;
  -webkit-mask-repeat: no-repeat;
}
.section-home .yj-home-section-1 .inner-center .home-figure-wrap figure img {
  width: 100%;
}
.section-home .yj-home-section-1 .inner-center .home-figure-wrap figure img.man {
  position: absolute;
  top: 0;
}
.section-home .yj-home-section-1 .inner-center .textbox {
  position: relative;
  text-transform: capitalize;
}
@media screen and (min-width: 800px) {
  .section-home .yj-home-section-1 .inner-center .textbox {
    width: 40%;
    margin-top: 10%;
  }
}
@media screen and (max-width: 800px) {
  .section-home .yj-home-section-1 .inner-center .textbox {
    margin: 0 auto;
    margin-top: 15%;
    max-width: 500px;
  }
}
.section-home .yj-home-section-1 .inner-center .textbox .textbox-bg {
  position: absolute;
  width: 130%;
  -webkit-mask-image: url(../img/home/profileMask.png);
  -webkit-mask-size: 100% 100%;
  -webkit-mask-position: center;
  left: 20%;
  top: 40%;
}
.section-home .yj-home-section-1 .inner-center .textbox .textbox-bg img {
  width: 100%;
}
.section-home .yj-home-section-1 .inner-center .textbox .textbox-bg img.man {
  position: absolute;
  top: 0;
}
.section-home .yj-home-section-1 .inner-center .textbox .photo {
  position: relative;
  float: right;
  width: 30%;
  transform: translateY(30px);
}
.section-home .yj-home-section-1 .inner-center .textbox h2 {
  clear: both;
  position: relative;
  margin-bottom: 20px;
}
.section-home .yj-home-section-1 .inner-center .textbox h2 span {
  color: #000;
  font-size: 2.5em;
  font-family: "ele";
  color: #211E18;
  position: relative;
}
.section-home .yj-home-section-1 .inner-center .textbox h2::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  bottom: 0;
  transform: skew(-45deg);
  background: #A8BFAA;
}
.section-home .yj-home-section-1 .inner-center .textbox p {
  position: relative;
  box-sizing: border-box;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
  border: 1px solid #ccc;
  background: rgba(255, 255, 255, 0.85);
}
.section-home .yj-home-section-1 .inner-center .textbox p::after, .section-home .yj-home-section-1 .inner-center .textbox p::before {
  position: absolute;
  font-size: 1.5em;
  color: #ccc;
}
.section-home .yj-home-section-1 .inner-center .textbox p::before {
  content: "\f10d";
  left: 10px;
  top: 10px;
}
.section-home .yj-home-section-1 .inner-center .textbox p::after {
  content: "\f10e";
  right: 10px;
  bottom: 10px;
}