@import './common';
section.yj-visual-section{
  div{
    position: relative;
    img.visual-background{
      max-width: 1200px;
      width: 100%;
      transform: scale(1.06);
    }
    figure{
      position: absolute;
      top: 0;
      img{
        width: 100%;
        &.visualImg1{
          transform: translateX(-5%);
          max-width: 1200px;
          width: 95%;
          -webkit-mask-image:url(../img/aboutme/visualMask.png);
          -webkit-mask-repeat: no-repeat;
          mask-image:url(../img/aboutme/visualMask.png);
          mask-size: 93% 100%;
          mask-repeat: no-repeat;
        }
        &.visualImg2{
          position: absolute;
          top: -15%;
          left: -25%;
          transform: translateY(0%);
        }
      }
    }
    figcaption{
      position: absolute;
      span{
        @include mainFont;
        color: $gray-color;
      }
      @media screen and (min-width:1200px){
        top:200px;
        left: 400px;
        span{
          font-size: 70px;
        }
      }
      @media screen and (max-width:1200px){
        top: 35%;
        left: 40%;
        transform: translate(-50%,-50%);
        span{
          font-size: 7vw;
        }
        span.me{
          position: absolute;
          top: 90%;
          left: 90%;
        }
      }
    }
    @media (orientation:landscape){
      height: 70%;
    }
    @media (orientation:portrait){
      height: 40%;
    }
  }
}