@charset "UTF-8";
/* 
짙은갈색 #211E18
갈색 #403A2F
진한민트#798C7A
옅은민트#A8BFAA
회색#F2F2F2
 */
.ys-section-1 h6 {
  transform: translate(8%, 450%);
  z-index: 1;
  font-family: "ele";
  mix-blend-mode: multiply;
}
@media screen and (min-width: 1200px) {
  .ys-section-1 {
    font-size: 55px;
  }
}
@media screen and (max-width: 1200px) {
  .ys-section-1 {
    font-size: 4.5vw;
  }
}

/* -----------------------------section-2------------------------------ */
.ys-section-2 {
  margin: 0 auto;
}
@media screen and (min-width: 800px) {
  .ys-section-2 {
    padding: 100px 0;
  }
}
@media screen and (max-width: 800px) {
  .ys-section-2 {
    padding: 50px 0;
  }
}
.ys-section-2 figure {
  position: relative;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
.ys-section-2 figure h6 {
  position: relative;
  transform: translate(45%, 200%);
  font-weight: 600;
  mix-blend-mode: difference;
  color: #F2F2F2;
  z-index: 1;
}
@media screen and (min-width: 1100px) {
  .ys-section-2 figure h6 {
    font-size: 55px;
  }
}
@media screen and (max-width: 1100px) {
  .ys-section-2 figure h6 {
    font-size: 5vw;
  }
}
@media screen and (max-width: 800px) {
  .ys-section-2 figure h6 {
    text-align: center;
    transform: translate(3%, 180%);
  }
}
.ys-section-2 figure .box1 {
  width: 90%;
  padding: 5px;
  margin-left: 9%;
  margin-bottom: 25%;
  border: 1px solid #211E18;
}
.ys-section-2 figure .box1 .box1-1 {
  padding: 23% 0;
  box-sizing: border-box;
  background-color: #211E18;
}
.ys-section-2 figure .ys-imgcontainer1 li {
  position: absolute;
  overflow: hidden;
}
.ys-section-2 figure .ys-imgcontainer1 li img {
  width: 100%;
}
.ys-section-2 figure .ys-imgcontainer1 .img1-1 {
  width: 65%;
  left: 50%;
  transform: translate(-50%, -165%);
}
.ys-section-2 figure .ys-imgcontainer1 .img1-2 {
  width: 35%;
  left: 17.5%;
  transform: translate(-50%, -110%);
}
.ys-section-2 figure .ys-imgcontainer1 .img1-3 {
  width: 40%;
  right: 4%;
  transform: translateY(-130%);
}
.ys-section-2 figure .ys-imgcontainer1 .img1-4 {
  width: 10%;
  right: 4%;
  transform: translateY(-90%);
}
.ys-section-2 figure div.decorbar-1 {
  position: absolute;
  left: 7%;
  width: 0.7%;
  padding: 17% 0;
  transform: translateY(-80%);
  background-color: #211E18;
}
.ys-section-2 figure div.textbox-1 {
  width: 60%;
  max-width: 550px;
  padding: 30px;
  margin: 0 15%;
}
@media screen and (min-width: 1100px) {
  .ys-section-2 figure div.textbox-1 {
    font-size: 26px;
  }
}
@media screen and (max-width: 1100px) {
  .ys-section-2 figure div.textbox-1 {
    font-size: 2.35vw;
  }
}
.ys-section-2 figure div.textbox-1 strong {
  position: relative;
  display: inline-block;
  margin-bottom: 1%;
  padding-bottom: 20px;
  transform: translate(0);
  font-family: "NanumSquareExtraBold";
  color: #211E18;
}
.ys-section-2 figure div.textbox-1 strong::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 19px;
  width: 100%;
  height: 20%;
  z-index: -1;
  opacity: 0.7;
  background: #A8BFAA;
  transform: skew(-30deg);
}
@media screen and (min-width: 1100px) {
  .ys-section-2 figure div.textbox-1 strong {
    font-size: 26px;
  }
}
@media screen and (max-width: 1100px) {
  .ys-section-2 figure div.textbox-1 strong {
    font-size: 2.35vw;
  }
}
.ys-section-2 figure div.textbox-1 p {
  position: relative;
  font-family: "NanumSquareLight";
  font-size: 1.3vw;
  line-height: 145%;
  color: #211E18;
}
@media screen and (min-width: 1100px) {
  .ys-section-2 figure div.textbox-1 p {
    font-size: 15px;
  }
}
@media screen and (max-width: 1100px) {
  .ys-section-2 figure div.textbox-1 p {
    font-size: 1.35vw;
  }
}
.ys-section-2 figure div.textbox-1 p::before, .ys-section-2 figure div.textbox-1 p::after {
  position: absolute;
  color: rgba(0, 0, 0, 0.08);
}
@media screen and (min-width: 1100px) {
  .ys-section-2 figure div.textbox-1 p::before, .ys-section-2 figure div.textbox-1 p::after {
    font-size: 78px;
  }
}
@media screen and (max-width: 1100px) {
  .ys-section-2 figure div.textbox-1 p::before, .ys-section-2 figure div.textbox-1 p::after {
    font-size: 7vw;
  }
}
.ys-section-2 figure div.textbox-1 p::before {
  content: "❝";
  left: -8%;
}
.ys-section-2 figure div.textbox-1 p::after {
  content: "❞";
  transform: translate(10%, 180%);
}
@media screen and (max-width: 600px) {
  .ys-section-2 figure div.textbox-1 p::after {
    transform: translate(10%, 100%);
  }
}

/* -----------------------------section-3------------------------------ */
.ys-section-3 {
  margin: 0 auto;
}
@media screen and (min-width: 800px) {
  .ys-section-3 {
    padding: 100px 0;
  }
}
@media screen and (max-width: 800px) {
  .ys-section-3 {
    padding: 50px 0;
  }
}
.ys-section-3 figure {
  position: relative;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
.ys-section-3 figure div.textcontainer-2 {
  position: relative;
}
.ys-section-3 figure div.textcontainer-2 div.decorbar-2 {
  position: absolute;
  width: 0.4%;
  height: 100%;
  transform: translateX(6500%);
  background-color: #211E18;
}
@media screen and (max-width: 600px) {
  .ys-section-3 figure div.textcontainer-2 div.decorbar-2 {
    transform: translateX(4000%);
  }
}
.ys-section-3 figure div.textcontainer-2 div.textbox-2 {
  width: 60%;
  max-width: 680px;
  padding: 3% 0;
  transform: translateX(65%);
}
@media screen and (max-width: 600px) {
  .ys-section-3 figure div.textcontainer-2 div.textbox-2 {
    transform: translateX(50%);
  }
}
.ys-section-3 figure div.textcontainer-2 div.textbox-2 strong {
  position: relative;
  display: inline-block;
  margin-bottom: 1%;
  padding-bottom: 20px;
  font-family: "NanumSquareExtraBold";
  color: #211E18;
}
.ys-section-3 figure div.textcontainer-2 div.textbox-2 strong::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 19px;
  width: 100%;
  height: 20%;
  z-index: -1;
  opacity: 0.7;
  background: #A8BFAA;
  transform: skew(-30deg);
}
@media screen and (min-width: 1100px) {
  .ys-section-3 figure div.textcontainer-2 div.textbox-2 strong {
    font-size: 26px;
  }
}
@media screen and (max-width: 1100px) {
  .ys-section-3 figure div.textcontainer-2 div.textbox-2 strong {
    font-size: 2.35vw;
  }
}
.ys-section-3 figure div.textcontainer-2 div.textbox-2 p {
  position: relative;
  font-family: "NanumSquareLight";
  font-size: 1.3vw;
  line-height: 145%;
  color: #211E18;
}
@media screen and (min-width: 1100px) {
  .ys-section-3 figure div.textcontainer-2 div.textbox-2 p {
    font-size: 15px;
  }
}
@media screen and (max-width: 1100px) {
  .ys-section-3 figure div.textcontainer-2 div.textbox-2 p {
    font-size: 1.35vw;
  }
}
.ys-section-3 figure div.textcontainer-2 div.textbox-2 p::before, .ys-section-3 figure div.textcontainer-2 div.textbox-2 p::after {
  position: absolute;
  color: rgba(0, 0, 0, 0.08);
}
@media screen and (min-width: 1100px) {
  .ys-section-3 figure div.textcontainer-2 div.textbox-2 p::before, .ys-section-3 figure div.textcontainer-2 div.textbox-2 p::after {
    font-size: 78px;
  }
}
@media screen and (max-width: 1100px) {
  .ys-section-3 figure div.textcontainer-2 div.textbox-2 p::before, .ys-section-3 figure div.textcontainer-2 div.textbox-2 p::after {
    font-size: 7vw;
  }
}
.ys-section-3 figure div.textcontainer-2 div.textbox-2 p::before {
  content: "❝";
  left: -8%;
}
.ys-section-3 figure div.textcontainer-2 div.textbox-2 p::after {
  content: "❞";
  transform: translate(10%, 180%);
}
@media screen and (max-width: 600px) {
  .ys-section-3 figure div.textcontainer-2 div.textbox-2 p::after {
    transform: translate(10%, 100%);
  }
}
.ys-section-3 figure .ys-imgcontainer2 {
  position: relative;
  padding: 5% 2%;
}
.ys-section-3 figure .ys-imgcontainer2 li {
  position: absolute;
  overflow: hidden;
}
.ys-section-3 figure .ys-imgcontainer2 li img {
  width: 100%;
}
.ys-section-3 figure .ys-imgcontainer2 .img2-1 {
  width: 40%;
  top: 100%;
  left: 13%;
}
.ys-section-3 figure .ys-imgcontainer2 .img2-2 {
  width: 45%;
  left: 55%;
  top: 180%;
  transform: translateX(-50%);
}
.ys-section-3 figure .ys-imgcontainer2 .img2-3 {
  width: 35%;
  right: -2%;
}
@media screen and (min-width: 600px) {
  .ys-section-3 figure .ys-imgcontainer2 {
    padding: 5% 7%;
  }
}
.ys-section-3 figure .decortext {
  writing-mode: tb-rl;
  text-orientation: upright;
  font-size: 8vw;
  font-family: "NanumSquareExtraBold";
  transform: translate(-35%, -20%);
  color: rgba(0, 0, 0, 0.2);
}
.ys-section-3 figure .decorbox {
  position: absolute;
  width: 40%;
  padding: 20% 0;
  transform: translate(103%, 65%);
  border: 2px solid #211E18;
}

/* -----------------------------section-4------------------------------ */
.ys-section-4 {
  margin: 0 auto;
}
@media screen and (min-width: 800px) {
  .ys-section-4 {
    padding: 100px 0;
  }
}
@media screen and (max-width: 800px) {
  .ys-section-4 {
    padding: 50px 0;
  }
}
.ys-section-4 figure {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
.ys-section-4 figure div.textcontainer-3 {
  position: relative;
}
.ys-section-4 figure div.textcontainer-3 div.decorbar-3 {
  position: absolute;
  width: 0.4%;
  height: 100%;
  background-color: #211E18;
}
.ys-section-4 figure div.textcontainer-3 div.textbox-3 {
  width: 60%;
  max-width: 680px;
  padding: 3% 0;
  transform: translateX(20%);
}
@media screen and (max-width: 600px) {
  .ys-section-4 figure div.textcontainer-3 div.textbox-3 {
    transform: translateX(25%);
  }
}
.ys-section-4 figure div.textcontainer-3 div.textbox-3 strong {
  position: relative;
  display: inline-block;
  margin-bottom: 1%;
  padding-bottom: 20px;
  font-family: "NanumSquareExtraBold";
  color: #211E18;
}
.ys-section-4 figure div.textcontainer-3 div.textbox-3 strong::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 19px;
  width: 100%;
  height: 20%;
  z-index: -1;
  opacity: 0.7;
  background: #A8BFAA;
  transform: skew(-30deg);
}
@media screen and (min-width: 1100px) {
  .ys-section-4 figure div.textcontainer-3 div.textbox-3 strong {
    font-size: 26px;
  }
}
@media screen and (max-width: 1100px) {
  .ys-section-4 figure div.textcontainer-3 div.textbox-3 strong {
    font-size: 2.35vw;
  }
}
.ys-section-4 figure div.textcontainer-3 div.textbox-3 p {
  position: relative;
  font-family: "NanumSquareLight";
  font-size: 1.3vw;
  line-height: 145%;
  color: #211E18;
}
@media screen and (min-width: 1100px) {
  .ys-section-4 figure div.textcontainer-3 div.textbox-3 p {
    font-size: 15px;
  }
}
@media screen and (max-width: 1100px) {
  .ys-section-4 figure div.textcontainer-3 div.textbox-3 p {
    font-size: 1.35vw;
  }
}
.ys-section-4 figure div.textcontainer-3 div.textbox-3 p::before, .ys-section-4 figure div.textcontainer-3 div.textbox-3 p::after {
  position: absolute;
  color: rgba(0, 0, 0, 0.08);
}
@media screen and (min-width: 1100px) {
  .ys-section-4 figure div.textcontainer-3 div.textbox-3 p::before, .ys-section-4 figure div.textcontainer-3 div.textbox-3 p::after {
    font-size: 78px;
  }
}
@media screen and (max-width: 1100px) {
  .ys-section-4 figure div.textcontainer-3 div.textbox-3 p::before, .ys-section-4 figure div.textcontainer-3 div.textbox-3 p::after {
    font-size: 7vw;
  }
}
.ys-section-4 figure div.textcontainer-3 div.textbox-3 p::before {
  content: "❝";
  left: -8%;
}
.ys-section-4 figure div.textcontainer-3 div.textbox-3 p::after {
  content: "❞";
  transform: translate(10%, 180%);
}
@media screen and (max-width: 600px) {
  .ys-section-4 figure div.textcontainer-3 div.textbox-3 p::after {
    transform: translate(10%, 100%);
  }
}
.ys-section-4 figure .decorcontainer {
  position: relative;
  width: 55%;
  margin: 5% auto 0 auto;
}
.ys-section-4 figure .decorcontainer div {
  position: absolute;
  width: 30%;
  padding: 50% 0;
  transform: skew(-10deg);
  border: 1.5px solid #211E18;
}
.ys-section-4 figure .decorcontainer .decorbox2 {
  left: 50%;
  transform: translateX(-50%) skew(-10deg);
}
.ys-section-4 figure .decorcontainer .decorbox3 {
  right: 0;
}
.ys-section-4 figure .ys-imgcontainer3 {
  display: flex;
  position: relative;
  align-items: center;
  padding: 10% 0;
}
@media screen and (max-width: 600px) {
  .ys-section-4 figure .ys-imgcontainer3 {
    flex-wrap: wrap-reverse;
  }
}
.ys-section-4 figure .ys-imgcontainer3 li div {
  box-sizing: border-box;
  font-size: 1vw;
  font-family: "NanumSquareLight";
  line-height: 150%;
}
.ys-section-4 figure .ys-imgcontainer3 li img {
  width: 100%;
}
.ys-section-4 figure .ys-imgcontainer3 .img3-1 {
  width: 25%;
}
.ys-section-4 figure .ys-imgcontainer3 .img3-2 {
  width: 40%;
  padding: 0 8%;
}
.ys-section-4 figure .ys-imgcontainer3 .img3-3 {
  width: 25%;
}
@media screen and (min-width: 600px) {
  .ys-section-4 figure .ys-imgcontainer3 .img3-1 {
    width: 25%;
  }
  .ys-section-4 figure .ys-imgcontainer3 .img3-2 {
    transform: translateX(-43.5%);
  }
  .ys-section-4 figure .ys-imgcontainer3 .img3-3 {
    transform: translateX(229%);
  }
}
@media screen and (max-width: 600px) {
  .ys-section-4 figure .ys-imgcontainer3 .img3-1 {
    width: 40%;
    margin: auto;
  }
  .ys-section-4 figure .ys-imgcontainer3 .img3-2 {
    width: 60%;
    margin: 0 auto 15% auto;
  }
  .ys-section-4 figure .ys-imgcontainer3 .img3-3 {
    width: 40%;
    margin: auto;
  }
}
.ys-section-4 figure .ys-imgcontainer3 .img3-1-1 {
  padding: 0 10% 10% 10%;
}
.ys-section-4 figure .ys-imgcontainer3 .img3-1-1::before {
  content: "01";
  display: block;
  margin-bottom: 5%;
  line-height: 100%;
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 4vw;
  color: rgba(0, 0, 0, 0.1);
}
.ys-section-4 figure .ys-imgcontainer3 .img3-3-1 {
  padding: 10% 10% 0 10%;
}
.ys-section-4 figure .ys-imgcontainer3 .img3-3-1::before {
  content: "02";
  display: block;
  margin-bottom: 5%;
  line-height: 100%;
  font-family: "Montserrat";
  font-weight: 800;
  font-size: 4vw;
  color: rgba(0, 0, 0, 0.1);
}