body{
  font-family: 'Montserrat','Elephant',
  'NanumSquareLight','NanumSquare','NanumSquareBold','NanumSquareExtraBold','NanumSquareAcb','NanumSquareAceb','NanumSquareAcl','NanumSquareAcr',
   sans-serif;;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  word-break: keep-all;
  text-decoration: none;
}
